[2013-03-05 10:35] erylee opened #1 "qt协议实现"
编解码

[2013-03-16 15:30] emqplus opened #2 "void QMQTT::connect()"
MQTT Connect Packet

[2013-03-16 15:31] emqplus opened #3 "void publish(QMQTTMessage &message);"
[code]

[2013-03-16 15:32] emqplus opened #4 "puback, pubrec, pubrel, pubcomp"
void puback(int msgid);
void pubrec(int msgid);
void pubrel(int msgid);
void pubcomp(int msgid);

[2013-03-16 15:32] emqplus opened #5 "int subscribe(QString &topic, quint8 qos);"

[2013-03-16 15:33] emqplus opened #6 "void unsubscribe(QString &topic);"
unsubscribe packet.

[2013-03-16 15:33] emqplus opened #7 "void ping();"
ping packet

[2013-03-16 15:34] emqplus opened #8 "void disconnect();"
disconnect packet

[2013-03-18 04:27] #8 closed, assigned to emqplus

[2013-03-18 04:36] #7 closed, assigned to emqplus

[2013-03-18 07:24] #6 closed, assigned to emqplus

[2013-03-18 07:24] #5 closed, assigned to emqplus

[2013-03-18 07:26] #4 closed, assigned to emqplus

[2013-03-18 07:39] #2 closed, assigned to emqplus

[2013-03-18 07:39] emqplus opened #9 "don't waitForConnected, use connected signal"

[2013-03-18 07:41] #3 closed, assigned to emqplus

[2013-03-18 07:42] emqplus opened #10 "socketRead....... to handle response"

[2013-03-24 06:35] #10 closed, assigned to emqplus

[2013-03-24 06:35] #9 closed, assigned to emqplus

[2013-03-24 06:36] erylee opened #11 "refactor QMQTT::Client signals and slots"

[2013-03-24 06:37] emqplus opened #12 "support keepalive timer"

[2013-03-30 05:17] erylee opened #13 "refactor subacked, unsubacked, pubacked, signals"

[2013-03-30 05:32] emqplus opened #14 "generate clientId if not set"

[2013-03-30 07:53] #14 closed, assigned to emqplus

[2013-03-30 07:53] #12 closed, assigned to emqplus

[2013-03-30 07:55] erylee opened #15 "refactor setWill api, remove Will class"

[2015-02-03 18:20] tipih opened #17 "Using qmqtt under windows"
Hi I have a hard time using the qmqtt under windows, work fine on MAC and linux, but on windows I get strange linker errors.

I can compile it into a lib, but then when using it I get linker errors.
If I just try to use it in a normale way, I also get errors.

A small number of the errors from the qml-qmqtt project
Makefile.Debug:125: recipe for target 'debug\mqtt.exe' failed
mingw32-make[1]: Leav

[2015-02-04 04:32] erylee commented on #17
yes, qmtt has the issue on windows, I have no idea still...

[2015-02-04 05:16] tipih commented on #17
I think it is releated to the global.h file, and the export import
definitions for libraries, not sure how that could be removed, but I Think
that could be the answer, so insted of using it as a library, just use it
as plain code

Den onsdag den 4. februar 2015 skrev Ery Lee <notifications@github.com>:

--
MVH.

.

[2015-04-04 13:53] mactro commented on #17
Adding `#define QMQTT_LIBRARY` in global.h fixed a problem for me on Win7 x64.

[2015-06-01 11:33] maggu2810 opened #20 "unresolved symbol in message router"
I am using Qt 5.4.1 at the moment.

You are using "QLoggingCategory" (https://github.com/emqtt/qmqtt/blob/4406d6f6b5352dcc796970c65da0d6e7e963e1cd/qmqtt_client_p.h#L40). This class was introduced in Qt 5.2 (http://doc.qt.io/qt-5/qloggingcategory.html), so I am using Qt5, not Qt4.

If I add a main to the current source code and compile it as an application, I get an error about unresolved symbols.

[2015-06-01 11:47] erylee commented on #20
@maggu2810 RouteSubscription is a feature contributed by @Kampfgnom for I was coding Erlang these years and did not maintain this project:)

@Kampfgnom, would you like to check this issue? Thanks.

[2015-06-01 11:54] Kampfgnom commented on #20
I will check it out.

[2015-06-01 11:58] Kampfgnom commented on #20
@maggu2810 Which compiler and system are you using?

[2015-06-01 12:21] maggu2810 commented on #20
I think the error is in the project settings.
The sources points to the header file, not to the source.
https://github.com/emqtt/qmqtt/blob/master/qmqtt.pro#L21
So the whole qmtt_router implementation is missing.

[2015-06-01 12:33] Kampfgnom commented on #20
Okay. That's just wrong. Thats my fault... I use the pri file, which is why I didn't notice the error, sorry.

[2015-06-01 12:34] maggu2810 commented on #20
No problem at all.

[2015-06-01 12:35] Kampfgnom commented on #20
And BTW: I often have several classes per header when the resulting cpp file stays small enough. I never had any problems with that under any system (using debian, ubuntu, OSX 10.9/10.10, windows with mingw 4.9 and msvc 2013)

[2015-06-01 12:41] maggu2810 commented on #20
I do this for simple stuff, but I do not use this as well as it is possible for me.
It is more about design philosophy and out of scope of this issue. ;-)

[2015-06-04 17:07] #1 closed

[2015-06-04 17:08] #11 closed

[2015-06-04 17:08] #13 closed

[2015-06-04 17:08] #15 closed

[2015-06-08 06:42] #20 closed

[2015-08-26 14:49] Spitor commented on #17
Hi, i need this library with Windows but I had the same issue. So, still no solutions ?

[2015-08-27 02:17] erylee commented on #17
@Spitor, please discuss the issue with @mactro  and @tipih.

[2015-09-09 06:45] Psy-Kai opened #27 "Add "INSTALLS" to project-file"
Hello,

could you please add an INSTALLS to the project file with an prefix?

    isEmpty(PREFIX) {
        contains(MEEGO_EDITION,harmattan) {
            PREFIX = /usr
        } else:unix {
            PREFIX = /usr/local
        } else {
            PREFIX = $$[QT_INSTALL_PREFIX]
        }
    }

    headers.files = $$HEADERS
    headers.path = $$PREFIX/include/qmqtt
    target.path = $$PREFIX/

[2015-09-09 11:31] erylee commented on #27
@Psy-Kai, could you fork the project and submit a PR? Thanks.

[2015-10-20 11:10] toni1991 commented on #17
Sorry for being impatient, but I heavily rely on running qmqtt on Windows. So is there any improvement?

[2015-10-20 11:19] tipih commented on #17
I can Send you à git link

Den tirsdag den 20. oktober 2015 skrev Antonio Grieco <
notifications@github.com>:

--
MVH.

.

[2015-11-08 03:11] #27 closed

[2015-11-11 09:29] toni1991 commented on #17
Is there a particular reason to close the issue @wuming123057 ? For me it's still not linkable under Windows :/

[2015-11-11 10:53] erylee commented on #17
@toni1991, please discuss the issue with @wuming123057. He said this issue had been fixed:)

[2015-11-12 02:16] wuming123057 commented on #17
@toni1991 ,tell me the issue please. And,please use new git clone code.

[2015-11-12 03:21] wuming123057 commented on #17
@toni1991  Is the following issue?
release/qmlqmqtt.o:qmlqmqtt.cpp:(.text+0x982): undefined reference to `_imp___ZN5QMQTT7MessageC1Ev'
release/qmlqmqtt.o:qmlqmqtt.cpp:(.text+0x990): undefined reference to `_imp___ZN5QMQTT7Message8setTopicERK7QString'
release/qmlqmqtt.o:qmlqmqtt.cpp:(.text+0x9b1): undefined reference to `_imp___ZN5QMQTT7Message10setPayloadERK10QByteArray'
release/qmlqmqtt.o:qmlqmqt

[2015-11-12 08:02] toni1991 commented on #17
@wuming123057 Sorry was my fault. It's working great! Thank you very much!

[2015-12-08 06:14] ve7mjc opened #30 "Qt Library Dependency"
It would appear that due to QRegularExpressions and QLoggingCategory, this can only be compiled in >= Qt 5.2?  I tried to comment out all of the QLoggingCategory calls, which works but then got nailed by the QRegularExpressions libraries vice QRegExp.

a) Is there a previous revision which operates under Qt 4.x ? (thinking for Raspberry Pi and the mainstream embedded stuff here)

b) could someone

[2015-12-20 02:19] wuming123057 commented on #30
I'm sorry, so long to reply to you.

a)there isn't a previous revision which operates under Qt 4.x .
b)ok. I throw a note on the main readme right now.
This library was written in the >=Qt 5.2 version by the author not me.
And Qt5 was stable until the >=Qt 5.2 version.
This year,Qt5 update is very fast with a lot of changes, not as stable as Qt4.

[2015-12-26 19:24] wguynes commented on #30
As I am about to start stabilizing and adding features, I can assume that we're going to stay consistent with Qt5 API? If we plan on back porting to Qt4 I should probably abstract a few things.

[2015-12-27 00:00] wuming123057 commented on #30
@wguynes
Qt 5.6 will be a long-term supported release as we announced at the Qt World Summit in the beginning of October. This means Qt 5.6 support for 3 years along with additional patch-level releases.
So, the library based on Qt5 is a very good choice.

[2015-12-28 13:29] wguynes opened #35 "Major, hopefully final public interface break"
My [upcoming] changeset is going to make the public interface more solid.

* Full PIMPL pattern for the public API for ABI compatibility.
* Renaming a few functions, `QMQTT::Client::connect()` is a dangerous override and is going to cause user (developer) confusion. I am proposing change it to `QMQTT::Client::connectToHost()` which follows a Qt standard set by `QTcpSocket`
* Isolation of header fi

[2015-12-30 06:58] wuming123057 commented on #35
You can refer to http://wiki.qt.io/Dpointer .
If we  stop breaking source and binary compatibility ,the library must be rewritten.
it will be more easy to use,  if we rewritten the library to  take more time.

[2016-01-04 02:41] #35 closed

[2016-01-12 02:15] mvirkkunen opened #39 "Resending messages when QoS > 0 seems to be unimplemented"
I couldn't find any code that would store messages and retransmit them if QoS > 0 and the server does not send a PUBACK - is this unimplemented or am I just not finding the relevant code?

It might be good to remove the QoS parameters if they're not actually supported so users don't get the wrong idea.

[2016-01-12 02:17] mvirkkunen opened #40 "autoReconnect doesn't do anything"
As far as I can tell this property exists in the public interface but it's never used for anything. It's not documented in the README but it's been there for a year - is this unfinished?

[2016-01-12 02:19] mvirkkunen opened #41 "Ping timeouts are not detected"
PINREQs seem to be sent correctly, but for reliability's sake it would be good to raise a connection error if a PINGRESP isn't received in response to a PINGREQ.

[2016-01-12 02:22] wguynes commented on #39
It is true that this functionality was not yet implemented. I have so far
been trying to refactor and get tests around the functionality that already
existed.

I'm going to start adding new behavior in the next round of changes.

On Mon, Jan 11, 2016 at 8:15 PM Matti Virkkunen <notifications@github.com>
wrote:

[2016-01-12 09:25] wguynes commented on #40
Correct. As far as I can tell it was not yet implemented.

[2016-01-12 09:30] wguynes commented on #41
My next task is to start writing tests to start complying with the [3.1.1 specification]
(http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html).

[2016-01-12 13:58] wuming123057 commented on #40
Sorry.We'll do it as soon as possible.

[2016-01-14 21:56] krimp opened #42 "Problem compiling qmqtt in Windows"
I am trying to compile the qmqtt subproject in Win7 using QtCreator 3.6.0 with MSVC SDK 7.1 (Qt 5.5.1).

The compilation stops in qmqtt_frame.cpp

64  Frame& Frame::Frame::operator=(const Frame& other)
65  {
66    _header = other._header;
67    _data = other._data;
68   return *this;
69 }

with the following errors:

C:\Qt\qmqtt-master\qmqtt-master\src\qmqtt_frame.cpp:64: error: C3083: '{ctor}': t

[2016-01-14 22:18] wguynes commented on #42
That appears to be my fault. There should not be two Frame:: scopes on line 64.
I will fix it when I get home.

The line should read

    64:Frame& Frame::operator=(const Frame& other)

[2016-01-15 00:26] #42 closed

[2016-01-16 09:54] wuming123057 commented on #41
@wguynes

The master repo of [qmqtt-client](https://github.com/emqtt/qmqtt-client/tree/master) corresponds to the new qmqtt library.
Please you  download the test.
And you will add ack and errors ?

[2016-01-16 10:00] wuming123057 commented on #17
@wguynes
At  new qmqtt library QMQTT::message class redesign  with Q_D point.
You work  great！
And I test it at my windows environment without errors.
This issues can close?

[2016-01-16 10:32] wguynes commented on #17
If I have fixed all existing problems with the Windows platform then, yes, this issue should be closed.

[2016-01-16 12:33] wguynes commented on #41
Correct PINGRESP behavior will first require a proper state machine. I will implement it.

[2016-01-24 15:50] wguynes commented on #40
Do we wish to let the developer set the retry interval?
I made it 5 seconds for now.

[2016-01-24 15:52] mvirkkunen commented on #40
It might be a good idea to make it configurable. Many clients also support "exponential backoff" but letting the retry interval grow too big might not be a good idea for IoT style things. It would make it unresponsive.

(And @wuming123057, heh, there's no need to be sorry. I was just pointing out that the setting doesn't do anything yet in case somebody wonders.)

[2016-01-24 15:53] wguynes commented on #40
Should I use the same value for a "failed connect" condition?
As opposed the current "lost connection" condition.

[2016-01-24 15:55] mvirkkunen commented on #40
I've seen some clients behave differently if the initial connection fails, even give up altogether because it might signify a configuration error. But I think it's important to at least be able to specify that reconnection should still happen even if the initial connection fails, in case the remote server was temporarily down at the very moment the client was started.

Not sure if there's a need t

[2016-01-24 15:57] wguynes commented on #40
Okay, for now "autoreconnect" applies to both connection_fail and connection_lost. I'm on that now.

[2016-01-24 15:58] mvirkkunen commented on #40
...of course I'm not an expert authority on network clients, but from a user's perspective I think these days with unreliable mobile connections and all you usually want a robust reconnection feature that "just works" without having to think about it.

[2016-01-24 15:59] wguynes commented on #40
Agreed. It should do something sensible out of the box.

[2016-01-24 22:43] wguynes commented on #40
Configurable autoreconnect now done.
User can turn it on an off (default: off)
User can set the retry interval in ms (default: 5000)

[2016-01-24 22:43] #40 closed

[2016-01-24 23:10] #17 closed

[2016-02-20 02:49] ve7mjc commented on #30
Qt5 is now present in the Debian Jessie main distributions and thus easily attained on the Raspberry Pi and other similar platforms. I would not request that effort be placed in back-porting to Qt 4.

Thank you for adding the note regarding the target Qt version.  We will undoubtedly save others some time.

[2016-02-25 06:36] wutianzhizhitianwu opened #52 "Compile Error"
Compile Error as the picture shows

[2016-02-25 06:37] wutianzhizhitianwu commented on #52
g++ -c -pipe -O2 -Wall -W -D_REENTRANT -fPIC -DQMQTT_LIBRARY -DQT_NO_DEBUG -DQT_NETWORK_LIB -DQT_CORE_LIB -I/usr/local/QT5/run/5.4/gcc/mkspecs/linux-g++ -I. -I/usr/local/QT5/run/5.4/gcc/include -I/usr/local/QT5/run/5.4/gcc/include/QtNetwork -I/usr/local/QT5/run/5.4/gcc/include/QtCore -I. -o qmqtt_routedmessage.o qmqtt_routedmessage.cpp
In file included from /usr/local/QT5/run/5.4/gcc/include/QtCor

[2016-02-25 07:14] wuming123057 commented on #52
[code]
The compiled environment is linux and Qt5.4.2.
So I add `#include<QString>` in the `qmqtt_routedmessage.h` file.

[2016-03-14 19:49] sprout42 opened #58 "Incoming MQTT message corruption"
I have an application that is receiving many MQTT messages very quickly.  And in one particular instance I found that it looked like the message data from multiple messages was being treated as the payload for a single message.

I was able to "fix" the issue by removing the QDataStream translation from the "void QMQTT::Network::onSocketReadReady()" function.  I am not really sure why the QDataStre

[2016-03-29 11:03] helmut-muelner commented on #58
I am not sure if you really fixed the problem. I think the bug was introduced with commit c0028ee5261764adeab001fdced5f2b376470088 on Jan, 17 2016 when the member variable _leftSize was renamed to bytesRemaining and moved as a local variable to Network::onSocketReadReady(). This assumes that one can always read complete frames while looping in this function. Moving bytesRemaining back as a member

[2016-03-29 12:41] yupengfei opened #60 "MQTT 3.1.1 support"
Does this library support mqtt 3.1.1 yet? Or do you have a plan?

[2016-03-29 14:07] sprout42 commented on #58
That is quite possibly the correct fix.  I do very little C++ anymore, and even less QT programming, so I am not familiar with this framework and the implications of the different classes.

[2016-04-15 06:57] #52 closed

[2016-04-18 19:05] george-hopkins commented on #30
Just a small note for further reference (and a bit of shameless promotion :wink:): A backport to Qt 4 is now available: https://github.com/george-hopkins/qmqtt-qt4

[2016-05-07 09:51] mwallnoefer commented on #60
Looking here I guess that it is already 3.1.1: https://github.com/emqtt/qmqtt/blob/master/src/qmqtt_client.h

Do you miss some particular feature?

[2016-05-07 09:52] mwallnoefer commented on #58
I guess this has been fixed in the meantime, should be closed.

[2016-05-09 12:04] yupengfei commented on #60
Sorry I did not read your code carefully.

[2016-05-10 10:53] yupengfei commented on #60
@mwallnoefer https://github.com/emqtt/qmqtt/blob/master/src/qmqtt_frame.h The PROTOCOL_MAGIC "MQIsdp" say it is still MQTT 3.1.

[2016-05-18 19:33] ftheirs opened #68 "Porting qmqtt to Android"
Hi guys!
has anyone tried to port this mqtt client to android? I can run it in Desktop without problems but I have some issue with: library "libqmqtt.so" not found. Since I'm new in QT and Android I don't really have idea what the problem is. Could someone help me?

Thanks,
Fernando

[2016-06-30 03:11] wuming123057 commented on #68
It's not tested yet.But I recommend using eclipse.paho. And Qt  call this library  on Android.
http://www.eclipse.org/paho/clients/android/sample/

[2016-06-30 03:12] #58 closed

[2016-06-30 10:04] mwallnoefer commented on #68
It works fine, you have only to bundle it with your application like this:

[code]

The variables point to a location where you had compiled the library for Android:
[code]

[2016-06-30 11:49] bensLine opened #72 "data is not parsed correctly"
Hey,

qmqtt crashes for me regularly in the following method
[code]
the problem is that the `_data` is empty but there is no check for it so the assertion in .at() is triggered.
However, after a bit of debugging I think the problem happens before.

in `void QMQTT::Network::onSocketReadReady()` a Frame is created with the data
`"8980,"x":-0.236530,"y":0.748594,"z":-0.022885,"ts"`
Then this data is

[2016-06-30 12:02] mwallnoefer commented on #72
Does your broker generate standard-compliant Mqtt messages? (spec: http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html)

Otherwise could you please provide a sample raw Mqtt message (socket) so that we can find out where our parser fails?

[2016-06-30 12:21] ftheirs commented on #68
Hi @wuming123057  thanks for the advice! I'll read about it!! And @mwallnoefer : yes! the problem was that some path was missing. I'm new in Qt and I haven't written in C++ for 5 years so.. I'm a little bit rusty. The library is created well and I have others problems but my concern was the library.
Many thanks to both of you, the problem was solved :)

[2016-06-30 12:21] #68 closed

[2016-07-01 08:30] #60 closed

[2016-07-02 11:38] bensLine commented on #72
Thanks for the quick reply!
Yes that should be fine, I'm using mosquitto. This bug is not always happening though. I can receive messages with qmqtt and they get parsed correctly but usually after 30s qmqtt crashes due to the mentioned error. I'm sending data at 10Hz btw.

With MQTT.fx for example the message is parsed correctly.
I recorded the failing message with Wireshark, you can see it bellow

[2016-07-03 06:16] ejvr commented on #72
This issue looks a lot like the problems I had a few months ago. My issue was fixed by commit 7b805464cadc2116ec6ef03dcc02e631e61a1e7e which is part of the master branch. Are you using the latest version of the master branch?

By the way: there's also a problem in the Frame::readInt() function: on most systems char's are signed by default, so the lsb variable may become negative, which will screw

[2016-07-05 15:40] bensLine commented on #72
oh, my bad! Indeed, it seems like this was the problem :) Thanks!

[2016-07-05 15:40] #72 closed

[2016-07-29 12:07] qgicup opened #74 "Messages are not sent when compiling with Qt 5.7 on ARM"
It seems that the client is connecting, it pushes the messages (says successfully sent), however, we cant get them on another MQTT client.
Strangely, when we compile with Qt 5.2, we do receive the messages.
Can provide full log if needed.

[2016-07-30 11:15] ejvr commented on #74
As far as I understand the MQTT protocol, you are not allowed to publish (or subscribe) to a broker before you have connected and received an acknowledgement from the broker (CONNACK).

Using qmqtt this means you should not publish or subscribe before the Client::connected signal is emitted. If you start sending before you have a race condition between your application and the broker. You may be a

[2016-07-31 23:25] qgicup commented on #74
Yes, I've just made those changes to the client + acknowledgements for subscribe/publish/unsubscribe, and I think I will launch a pull request with them, so others can benefit from them as well.
Thanks for help @ejvr !

[2016-08-02 10:07] #74 closed

[2016-10-02 13:24] TomaszKn opened #83 "Bus error"
HI
I try run QMQTT.
My code:
`
     this->client = new QMQTT::Client("192.168.10.93", 8883, true, true);   //SSL

[code]

`
Or I try:
`
    client = new QMQTT::Client("192.168.10.93", 8883, true, true); //SSL

[code]

`

But I get always the same error when I run my app.

Any suggestions?

[2016-10-05 07:24] mwallnoefer commented on #83
@cncap You have contributed to the SSL part of the library. Any ideas why this does not work?

I am not a SSL specialist so I have no clue.

[2016-10-26 07:39] mwallnoefer commented on #83
Maybe try to revert this commit https://github.com/emqtt/qmqtt/commit/c8ba2f48fd4b4956370c4d6164c0ecf19dfbb7e3, it could be that the counterpart does not support TLSv1.2 yet.

[2016-10-26 08:06] mwallnoefer commented on #83
A fix attempt: https://github.com/emqtt/qmqtt/commit/5b53ed4447b4c5006685d6b6b27bc1171f41790e

[2016-12-19 21:14] gmgkostik opened #84 "Auto Reconnect Timeout is always 5 sec."

[2016-12-22 17:41] titan83 opened #85 "Building under Windows"
Hello, sorry, I understand that my question is more in Qt sphere...
But I should to use qmqtt under windows and it's a pain for me.
Win7 x64, Qt5.7.1 with MinGW 5.3.
When I open qmqtt.pro I have next General messages:
[code]
I installed Perl anc CMake (thay are in PATH and works), because in first time it were a bit more messages)
But I can build it. I move manually includes and cmake file into Qt

[2016-12-24 10:39] titan83 commented on #85
Ok.
I answer on my question
my problem was in next: perl failed, if your project placed into long directory name, like a "C:\Documents ans settings\etc\bla", so put it into something simple, like "C:\qmqtt".
Also you need a make-analogue utilite under windows, I used mingw32-make.
Also add to PATH make dir, perl (ActivePerl, for example) dir, qmake dir.
Finally:
1. dir c:\qmqtt
2. qmake
3. mingw32

[2017-01-05 10:03] requinham opened #86 "SSL/TLS connection to the broker"
Hi,

Is SSL/TLS is supported in QMQTT or not yet ?
How can we use it and set certificate and other information ? Is there an example ?

Regards,
Mohamed

[2017-01-05 17:55] ejvr commented on #84
You're right. The timeout of the auto reconnect timer is set during initialization, and will not be changed later.
You could try to add `_autoReconnectTimer->setInterval(_autoReconnectInterval);` to `QMQTT::Network::setAutoReconnectInterval`, that should fix it.

[2017-01-05 18:05] ejvr commented on #86
There is some work done, but the implementation is not perfect yet (in my opinion).

Use the constructor of  `QMQTT::Client` with the ssl flag set to true. If you want to make adjustments to the SSL connection, you could use `QSslConfiguration::defaultConfiguration` to retrieve the global SSL settings, which will return an `QSslConfiguration` object. Adjust that object to your liking, and put it b

[2017-01-05 18:57] mwallnoefer commented on #86
Please consider also issue #83.

[2017-01-05 19:19] ejvr commented on #83
I have also worked with MQTT+SSL and I have not seen any SSL specific crashes. The SSL specific code in QMQTT (SslNetwork) is hardly different from the Network class, so it seem unlikely that the problem is located in that part of the code.
@TomaszKn I would be nice to have a stack trace the the bus error.
My guess is that the problem lies without the (no SSL specific) handling of incomming MQTT f

[2017-01-09 08:14] mwallnoefer commented on #85
Okay, so I guess we can mark it closed though.

[2017-01-09 08:14] #85 closed

[2017-01-09 11:28] mwallnoefer commented on #84
Should be fixed with this commit.

[2017-01-09 11:28] #84 closed

[2017-02-10 06:15] JasonLee0524 opened #89 "QMQTT can not work in windows minGW for qt5.8.0"
hello,my friend, i try your qmqtt to build in windows minGW for Qt5.8.0, but i failed.  and In linux ，it works. do you konw why is not work in windows minGW?

[2017-02-10 06:16] JasonLee0524 commented on #89
qmtqq can not  support in minGW? support in linux?

[2017-02-10 08:06] mwallnoefer commented on #89
Please give us a bit more hints, for instance a build log.

On Windows I need the qmake option ```CONFIG+=NO_UNIT_TESTS```, since the unit tests are not supposed to work on it. Maybe this fixes the build also for you.

[2017-02-10 08:09] mwallnoefer commented on #83
@TomaszKn I am closing this now, please reopen if you provide us more information.

[2017-02-10 08:09] #83 closed

[2017-02-20 22:03] mwallnoefer commented on #86
Pull request #90 fixed this.

[2017-02-20 22:03] #86 closed

[2017-02-20 22:04] mwallnoefer commented on #41
@wguynes Any news here?

[2017-02-20 22:08] mwallnoefer commented on #30
I think this may be closed, we have added a note to the **README** stating that qmqtt works only with Qt >= 5.3.

@george-hopkins Regarding the Qt4 back-port: please keep up with merging our fixes and improvements, otherwise users end up in old bugs!

[2017-02-20 22:08] #30 closed

[2017-02-24 21:32] george-hopkins commented on #30
@mwallnoefer Thank you reminding me! I just merged all changes back in to the backport. Now SSL and all the bugfixes are available for Qt 4 as well.

Just ping me again in case I fall behind too much. I will try to keep up faster in the future.

[2017-02-25 15:26] george-hopkins opened #91 "Recommended way to run unit tests"
I have some troubles running the tests with the updated/simplified build system. What is the recommended way to run all unit tests?

Things I already tried:
* `qmake && make`: No tests built
* `qmake "QT_BUILD_PARTS += tests" && make`: Testcases are built but `qmqtt_tests` fails because `libmqtt.so` can not be found (which should be found automatically now)

[2017-02-27 08:07] mwallnoefer commented on #30
Please have a look now, I have merged some other bug fix (69fd712896176d376e50cf6db5b605fe92c04133).

[2017-02-27 08:10] mwallnoefer commented on #91
@emqtt/emqttd-dev-team I am not the expert in this area, could anyone else respond?

[2017-03-17 06:09] JasonLee0524 commented on #89
I have myself solution, I directly modify your source, remove the dynamic library prefix, directly with my project to compile, rather than the way to generate the library can be a call. You use qt to achieve mqtt mechanism is very convenient and sound, very grateful. tks.

[2017-03-17 11:23] Qahraman opened #93 "Mqtt"
Hi.I can't compile this.Please help me

[2017-03-17 12:25] #93 closed

[2017-03-20 23:33] gleke commented on #89
how to remove the dynamic library prefix, directly with the project to compile?

[2017-03-21 04:49] gleke commented on #89
C:/V-PlaySDK/Tools/mingw530_32/bin/mingw32-make -f Makefile.Release
mingw32-make[1]: Entering directory 'D:/qtproj/build-testEMQTT-Desktop_Qt_5_8_0_MinGW_32bit-Release'
g++ -Wl,-s -Wl,-subsystem,windows -mthreads -o release\testEMQTT.exe object_script.testEMQTT.Release  -lmingw32 -LC:\V-PlaySDK\5.8\mingw53_32\lib C:\V-PlaySDK\5.8\mingw53_32\lib\libqtmain.a -LC:\utils\my_sql\my_sql\lib -LC:\utils\p

[2017-03-21 05:08] gleke commented on #89
13:07:12: 为项目testEMQTT执行步骤 ...
13:07:12: 正在启动 "C:\V-PlaySDK\5.8\android_armv7\bin\qmake.exe" D:\qtproj\testEMQTT\testEMQTT.pro -spec android-g++

13:07:13: 进程"C:\V-PlaySDK\5.8\android_armv7\bin\qmake.exe"正常退出。
13:07:13: 正在启动 "C:\V-PlaySDK\Tools\mingw530_32\bin\mingw32-make.exe" qmake_all

mingw32-make: Nothing to be done for 'qmake_all'.
13:07:13: 进程"C:\V-PlaySDK\Tools\mingw530_32\bin\mingw32-make

[2017-03-21 08:23] mwallnoefer commented on #89
This means that it works on Android (compilation platform Windows) but not with _MinGW32_, correct?
When I build on Windows, I use always the MS Visual Studio compiler so unfortunately I cannot reproduce this.
@emqtt/emqttd-dev-team @emqtt/qmqtt-team Is there someone else trying to build qmqtt on _MinGW32_ (Windows)?

[2017-03-21 08:26] mwallnoefer commented on #89
@KonstantinRitt You are the author of the new qmqtt build system. Do you have any clue of the issue stated where (_MinGW32_)?

[2017-03-21 08:47] emqplus commented on #89
@mwallnoefer Thanks for your support. @huangdan Please check the issue and help build qmqtt on MinGW32(Windows).

[2017-03-21 11:25] KonstantinRitt commented on #89
Just tried with the official qt-opensource-windows-x86-mingw530-5.8.0 and everything builds just fine (qmake ..\qmqtt && mingw32-make install - for both in-source and shadow builds). Didn't try building qmqtt with V-Play distributed Qt but it is hard to believe V-Play people broke it so much.

[2017-03-21 12:18] gleke commented on #89
you  build fine (qmake ..\qmqtt && mingw32-make install - for both in-source and shadow builds) ?

[2017-03-21 12:19] gleke commented on #89
Just tried with the official qt-opensource-windows-x86-mingw530-5.8.0?

[2017-03-21 14:33] KonstantinRitt commented on #89
huh?

[2017-03-22 01:17] JasonLee0524 commented on #89
yes, qt-opensource-windows-x86-mingw530-5.8.0.  i need ported to minggw in winodws sys. but i finded that qmqq's libbray is can not work on QT's QNetwork API, i don't why. so  i direct delete Q_MQTT_EXPORT  in qmqq's project, and put into my project. like this:
class Q_MQTT_EXPORT Client : public QObject -> class   Client : public QObject.

[2017-03-22 01:22] JasonLee0524 commented on #89
you try qmqq's source put into your project, not .dll or .a .i guess the problem is C++ differently C：Itanium C++ ABI (GCC3、GCC4，MinGW)
Microsoft C++ ABI

[2017-03-22 03:11] KonstantinRitt commented on #89
to me, it look like you're is trying to build and link using two different compiler collections. it is hard to guess without knowing what exactly you're doing. your attached logs only proves shared build on Android finishes just fine and static linking on MinGW fails.

[2017-03-22 04:33] gleke commented on #89
#ifndef QT_STATIC
#  if defined(QT_BUILD_MQTT_LIB)
#    define Q_MQTT_EXPORT Q_DECL_EXPORT
#  else
#    define Q_MQTT_EXPORT Q_DECL_IMPORT
#  endif
#else
#  define Q_MQTT_EXPORT
#endif

[2017-03-22 11:03] KonstantinRitt commented on #89
yes. and?

[2017-04-04 20:10] fuxey opened #94 "Qmqtt Android Build in Linux"
Hi guys,

i try to compile the sources for android armv7 with qt5.8 in linux and it did not work. The Toolchain itself is working.
When i try to build the src.pro to get an library i get this error: /home/df/dev/qt/5.8/android_armv7/mkspecs/features/qt_module_headers.prf:153: error: Cannot write file /include/qmqtt/qmqtt
Depends: Cannot create parent directory
i tried a lot of different pro and qb

[2017-04-25 22:05] Pavlines commented on #17
Please give me a library for windows

[2017-04-26 07:16] mwallnoefer commented on #17
We do not provide any binary distributions. The build works also on Windows, just add the `NO_UNIT_TESTS` to the qmake `CONFIG` flags (e.g. `CONFIG += NO_UNIT_TESTS`). If you encounter other errors, please report them here!

[2017-05-01 15:32] Pavlines commented on #17
I still can not compile this. Not under Windows, nor under Linux. Always produces an error when compiling. In particular, the absence of the qmqtt.h file . How can I get a library file or a header file, so just connect it to my project.
I work in Qt, under Windows

[2017-05-04 06:53] mwallnoefer commented on #17
@Pavlines Hard to say. Do you have a chance to attach us a full build log? I am always building it in Qt Creator and there it works like a charm.

@emqtt/qmqtt-team Has anyone an idea what this could be (absence of _qmqtt.h_)?

[2017-05-07 10:11] Pavlines commented on #17
Programm C:\Users\Pavlines\Desktop\build-qmqtt-Desktop_Qt_5_9_0_MinGW_32bit-Release\examples\mqtt\client\release\qmqtt_example.exe absent.

[2017-05-07 10:12] Pavlines commented on #17
![image](https://cloud.githubusercontent.com/assets/26151153/25779778/c5c4d8b4-3326-11e7-8360-c46190bd2771.png)

[2017-05-07 10:12] Pavlines commented on #17
![image](https://cloud.githubusercontent.com/assets/26151153/25779786/defe9284-3326-11e7-8a30-324e30fd5b5c.png)

[2017-05-07 10:13] Pavlines commented on #17
13:10:03: Выполняются этапы для проекта qmqtt...
13:10:03: Настройки не изменились, этап qmake пропускается.
13:10:03: Запускается: «C:\Qt\Tools\mingw530_32\bin\mingw32-make.exe»
cd src\ && ( if not exist Makefile C:\Qt\5.9\mingw53_32\bin\qmake.exe -o Makefile C:\Users\Pavlines\Desktop\qmqtt-master\src\src.pro -spec win32-g++ ) && C:/Qt/Tools/mingw530_32/bin/mingw32-make -f Makefile
mingw32-make[1

[2017-05-07 19:48] mwallnoefer commented on #17
Aha, this is Qt 5.9 with MinGW 32 on Windows. For sure you have already tried to clean up and rebuild from scratch? And in your log I do not see the error message about the missing `qmqtt.h`?

Personally I use Qt 5.6 where the build works without issues.
@emqtt/qmqtt-team Has anyone tested Qt 5.9?

[2017-05-07 20:49] Pavlines commented on #17
The project is compiled. But nothing is created except the lib-file.  Also does not create  qmqtt.h in relise folder.  I'm trying to compile a emqtt/qmqtt-client project. But I do not know how to force it to compile a  emqtt/emqtt project into a library with an "qmqtt.h" file. To connect it to the emqtt/qmqtt-client project.

[2017-05-08 07:17] mwallnoefer commented on #94
Sorry I have forgotten to answer this issue. Have you a chance to try with Qt 5.6?

@emqtt/qmqtt-team Any ideas?

[2017-05-08 07:24] mwallnoefer commented on #17
I have seen only now that this is a known issue #89 (I didn't remember), so please let us follow-up it there. As a workaround you could try building it with Qt 5.6 or 5.7 where it works.

[2017-05-08 07:31] emqplus commented on #94
@mwallnoefer Really appreciate your contributions on the project. I invited @grutabow to join the project, who is responsible for client side SDK and Edge gateway.

[2017-05-14 05:02] grutabow commented on #94
@fuxey  QT's android support is not so good. Please refer to following links which is similar to your problem:
- http://lists.qt-project.org/pipermail/qbs/2016-September/001621.html
- https://bugreports.qt.io/browse/QBS-881
- http://lists.qt-project.org/pipermail/qbs/2015-July/001346.html

My QT 5.8 on windows has same issue which report that "profile 'qtc_Android__3d01a06d-armv5te' does not exist

[2017-05-14 05:16] grutabow commented on #94
one more link
https://bugreports.qt.io/browse/QBS-709

[2017-05-21 10:33] ejvr commented on #91
This is an old issue, but I ran across the same problem when working on the qmqtt code.
It seems that the unit tests are using classes from qmqtt which are not exported to the shared library, so the linker will not find them.

Also, 'private' qmqtt header files cannot be found when compiling the tests (this seems to work when compiling using qbs, but not when using qmake).

I guess this can be fix

[2017-06-28 07:53] ejvr opened #98 "(un)subscribed signal does not pass topic any more"
The subscribe signal in QMQTT::Client still has a `topic` argument, but it will always be an empty string.  Apparently the topic is not passed in the `SUBACK` message (See `ClientPrivate::onNetworkReceived`). The same goes for the `unsubscribed` signal.

Personally I do not have problems with this (not using the signals anyway), but I guess it may confuse people. Wouldn't it be better to remove th

[2017-06-28 08:02] mwallnoefer commented on #98
Good catch! I think it would be better to re-introduce the topic, so that we save it in a member variable. Of course it should be done only if it does not complicate our code too much.

@emqtt/qmqtt-team What do you think?

[2017-07-01 16:20] ejvr commented on #98
This could be fixed by introducing a message ID -> topic lookup in the ClientPrivate class. Upon a (un)subscribe we add the message ID/topic combination to the lookup. When the (UN)SUBACK arrives we can recover the topic using the message ID in the message.

This would be a simple fix which would change the ClientPrivate class only. It just tried it and it seemed to work (with mosquitto as the bro

[2017-07-02 07:29] mwallnoefer commented on #98
@ejvr Yes please, I am eager to accept your marvelous contributions.

[2017-07-16 14:01] cecilios opened #103 "Help: Install and build instructions"
I'm using Linux Mint 17.1 and Qt 5.9.1. I'm new to QT and I'm trying to use your qtmqtt library. But I'm having problems to install it. I downloaded the repo and tried to build out-of-source by doing:

mkdir build
cd build
qmake ..
make

But make fails. I also trried in-source building with the same results. In both cases the libqtmqtt is built, but make fails when compiling the examples:
[code]

[2017-07-19 08:38] mwallnoefer commented on #41
83ad60daee086b0fdf5012a10060a195ea062338 has improved the situation in the sense that it added some `pingresp()` signal, so closing for now.

[2017-07-19 08:38] #41 closed

[2017-07-19 08:43] mwallnoefer commented on #39
Also here commit 83ad60daee086b0fdf5012a10060a195ea062338 improved qmqtt's functionality in the sense that a proper signal gets raised `published(const quint16 msgid, const quint8 qos)`, when a message has been acknowledged by the broker.

@mvirkkunen If this is not enough and you prefer to have the internal queue, please reopen!

[2017-07-19 08:43] #39 closed

[2017-07-19 08:44] #98 closed

[2017-07-19 08:44] #89 closed

[2017-07-19 08:48] mwallnoefer commented on #103
@ejvr @emqtt/qmqtt-team Any ideas?

[2017-07-20 16:40] ejvr commented on #103
Could you try
qmake ../src/mqtt
instead of
qmake ..
Next install the library with
make install
After that you should be able to compile the example.

Regards,
Ernst

On Jul 16, 2017 15:03, "Cecilio Salmeron" <notifications@github.com> wrote:

[2017-07-21 13:54] cecilios opened #104 "pkg-config reports wrong paths for qmqtt"
I have installed the library by doing:
[code]
and seems to work. This is the final part of the log, displaying installation paths:

[code]

But pkg-config reports wrong paths. For instance:

[code]

pkg-config points to '-I/usr/usr/include/x86_64-linux-gnu/qt5/x86_64-linux-gnu/qt5/qmqtt'
but the files were installed in '/usr/include/x86_64-linux-gnu/qt5/x86_64-linux-gnu/qt5/qmqtt'. Note an extra '

[2017-07-21 13:56] cecilios commented on #103
Thank you very much both @ejvr and @mwallnoefer for your help.

The proposed steps for installing the library works but not for building the examples.

For installing the library just to mention, for documentation, that it is necessary to use 'sudo'. Otherwise qmake fails:

[code]
Not enough permissions so I did:

[code]
and worked perfectly.

But still problems for building the examples. After so

[2017-07-21 14:41] cecilios commented on #103
## Another failed attempt for building an example

I open 'examples/mqtt/client/client.pro' with Qt Creator. Then tried to build but got error "Unknown module(s) in QT: mqtt"

So I tried to use qmqtt as a library. For this I created a 'thirdparty' folder in examples/mqtt/client with two subfolders lib and include:
- In 'examples/mqtt/client/thirdparty/lib' I copied libqmqtt.so.1.0.0 and created a

[2017-07-23 19:12] mwallnoefer commented on #103
@KonstantinRitt You were the patch contributor which converted qmqtt from a plain Qt library into a Qt module. Could you help us with this issue and give Cecilios the necessary explanations? (I presume you have tested everything when proposing the change)

[2017-07-25 11:22] mllapps opened #105 "/usr/include/qt5/QtCore/qobjectdefs_impl.h:573: error: invalid use of incomplete type 'class QMQTT::Message'"
[code]

Can anyone help me to build the library?

[2017-07-25 11:25] mllapps commented on #105
Sorry I found out that the Qt version I use is 5.2.1 and it is not supported. With Qt5.5 it build.

[2017-07-25 11:25] #105 closed

[2017-07-25 12:06] mwallnoefer commented on #105
We could try to fix release 5.2.1 if you provide a longer build log and the effort is not to much (maybe just a missing include).

[2017-08-01 10:56] pavanic002 commented on #17
![mqtterr](https://user-images.githubusercontent.com/20797539/28821528-63dfb3da-76d3-11e7-9e94-99166a2230a9.png)

Hi,
   I'm facing issue with Makefile while building qmqtt in windows. I'm using Qt 5.6.0 (MSVC 2013, 32 bit).
Please refer console output below.

15:39:08: Running steps for project qmqtt...
15:39:08: Starting: "C:\Qt(32)\Qt5.6.0\Tools\QtCreator\bin\jom.exe" clean
	cd src\ && ( if not

[2017-08-02 14:07] DBeloglazov commented on #103
Hello. I need help...
I successfully write and execute this code:
sudo qmake ../src/mqtt
sudo make install

But i have any troubles with using qmqtt.
When i try to build my project with #include "qmqtt.h" i have error: qmqtt.h: No such file or directory
What can I do to solve the problem?

[2017-08-02 14:16] DBeloglazov commented on #103
I can include <qmqtt/qmqttDepends>, but not <<qmqtt.>

[2017-08-03 15:13] mwallnoefer commented on #17
That's odd. I under Qt 5.6 with MSVC2013 32 bit get this if I am doing a qmake:

14:54:08: Running steps for project qmqtt...
14:54:08: Starting: "C:\Qt\5.6\msvc2013\bin\qmake.exe" C:\Users\MatthiasW\Git\qmqtt\qmqtt.pro -spec win32-msvc2013
14:54:08: The process "C:\Qt\5.6\msvc2013\bin\qmake.exe" exited normally.
14:54:08: Starting: "C:\Qt\Tools\QtCreator\bin\jom.exe" qmake_all

jom 1.1.2 - empowe

[2017-08-04 01:25] KonstantinRitt commented on #103
Perhaps I had to write a short docu for those who isn't familiar with building Qt modules, sorry for not doing that at the right time.

Well, you did it almost correct...
What you have to remember is that Qt module's headers auto-generation depends on a git_build feature. That's all ;) So either clone git repo or otherwise `mkdir .git` in the module-root directory (it is where you'll find the qmqt

[2017-08-04 10:18] allbuilds opened #106 "Help build in Visual Studio 2017 with Qt 5.9"
How can I do it?

[2017-08-04 10:21] mwallnoefer commented on #104
@ejvr @KonstantinRitt @emqtt/qmqtt-team I think you are the experts of qmqtt's build system. Please read this issue and answer!

[2017-08-04 10:25] mwallnoefer commented on #106
This is question is to generic. But there exists a related issue #17 which could give you an idea on how to do that. Essentially I recommend using Qt Creator with Qt's VS build.

[2017-08-04 10:25] #106 closed

[2017-08-06 11:45] ejvr commented on #104
Running `qmake ../src/mqtt/` was not a good idea. Unfortunately I could not test it on my own system when I wrote the comment. You have to revert to `qmake ..`. If you stick to that, qmqtt.pc looks like this:
[code]
That seems OK to me. Note that I installed QT 5.9.1 using [QT online installer](https://www.qt.io/download-open-source/#section-2) provided by QT itself. The QT install root was `/home

[2017-08-06 12:02] ejvr commented on #103
As mentioned in issue #104: do not use `qmake ../src`, use `qmake ..` instead. Which means we're back to the original problem.

How did you install QT 5.9.1? It is fairly new, so I guess it is not yet part of Linux Mint.

[2017-08-07 16:09] vinayxbox opened #107 "QMQTT with websockets"
I have setup eMQTT in windows I am using QMQTT for subscription and publishing.

Everything works like a charm.

My problem is how to use websocket with QMQTT Client.

There are no methods in QMQTT::Client which accepts URL.

I tried to use hostname,/host address with port 8083 default for ws port for broker but not able to connect.

Can anybody help me in this?
 Seems like I am doing something wr

[2017-08-07 19:54] mwallnoefer commented on #107
I do not think that this is currently supported, since the library is based on _QTcpSocket_.

If you like to code, you could add this support to the library and propose a patch.

[2017-08-07 19:56] mwallnoefer commented on #91
@george-hopkins Are you happy with the solution provided by @ejvr so that we can close this?

[2017-08-08 01:50] KonstantinRitt commented on #103
sure. you've built a shared lib and linked it as a static one.
simply follow my instructions above.

[2017-08-21 13:10] mwallnoefer commented on #104
I close this for now.

[2017-08-21 13:10] #104 closed

[2017-08-21 13:10] mwallnoefer commented on #94
Any progress here?

[2017-08-26 02:27] cash-metall opened #117 "fix namespase in Client slot "publish""
Could you add namespace **QMQTT** before **Message** to the public slot `void publish(const Message& message);` in **Client** class?

[2017-08-27 19:06] mwallnoefer commented on #117
Yes, sure. Fixed by abe5cf65015be8bfced5f3458a072a0254f7c695

[2017-08-27 19:06] #117 closed

[2017-08-27 19:33] edgiru opened #118 "No HTTPS Listener"
Hello!
not work https Dashboard on Ubuntu server 16.04.3 x64
![default](https://user-images.githubusercontent.com/4624056/29753312-824e539a-8b77-11e7-85bf-7a3accaff7ec.JPG)
![default](https://user-images.githubusercontent.com/4624056/29753315-8b3c27de-8b77-11e7-9f79-abe8c3bb28b4.JPG)
![3](https://user-images.githubusercontent.com/4624056/29753320-a3a3b382-8b77-11e7-8ebe-62e0a05b03ad.JPG)

[2017-08-27 20:50] edgiru commented on #118
sorry did not write there

[2017-08-27 20:50] #118 closed

[2017-08-29 13:42] cecilios commented on #103
Please accept my sincere apologies for the long delay in the reply to your messages; they came in while I was on summer vacation.

@ejvr

I'm totally new to Qt so, perhaps what I did is not the best, but it worked for me. To install you need a Qt account. It can be created as part of the installation process. I just downloaded the Qt online installer from Qt downloads page ( https://www.qt.io/down

[2017-08-29 13:51] cecilios commented on #104
Please accept my sincere apologies for the long delay in the reply to your messages; they came in while I was on vacation.

When building qmqtt according to instructions in issue #103 the paths reported by pk-config are correct. So, probably nothing wrong with pk-config generation and this issue can be definitely closed.

[2017-08-30 17:13] ejvr commented on #103
Hello Cecilios,

I use the same method to install QT version which are not available in my Linux distro. So that should not be the problem.

About compiling qmqtt on the command line: my guess is that you are not using the qmake executable that came with QT5.9, but another one, probably one provided by the distro.

To make sure to get the right version, use the full path to the QT5.9 qmake executa

[2017-08-31 09:41] cecilios commented on #103
Thanks Erns,

I couldn't imagine I was not executing the right qmake. But you were right: I have another qmake from a previous Qt4 installation time ago. Unfortunately, executing the right qmake generates other problems:

[code]

But, after the explanations about how to build qmqtt and the examples, I understand that the issues I have now for building are my fault and has nothing to do with qmqtt.

[2017-08-31 09:41] #103 closed

[2017-08-31 15:37] cecilios commented on #103
I managed to clean up my Qt installation and resinstall Qt. Finally, some minutes ago, I was able to build qmqtt and the client example and to run it. Works great! Thank you very much for your help!

[2017-10-02 19:54] mwallnoefer commented on #107
Fixed by commit  3b22b35 (pull request #119).

[2017-10-02 19:54] #107 closed

[2017-10-02 19:55] #94 closed

[2017-10-02 19:57] mwallnoefer commented on #91
I am closing this, please reopen if we need to deepen this further.

[2017-10-02 19:57] #91 closed

[2017-10-18 06:47] HereIsTino opened #120 "connect to host failed"
isConnectedToHost() always return false, why?
this is my code:
QMQTT::Client *client = new QMQTT::Client(QHostAddress::LocalHost, 1883);
client->setUsername("user");
client->setPassword("password");
client->setClientId("clientId");
if(client->isConnectedToHost()) {
    ...
   connect sucessfule
}else {
   ...
   connect to failed
}

thank you.

[2017-10-18 15:41] ejvr commented on #120
After setting username, password and client ID you should call the `connectToHost` function. This will initiate the connection procedure. Calling `isConnectedToHost` directly after that will still return false. When a connection has been established, the `connected` signal is emitted and `isConnectedToHost` will return `true`.

The best thing to do is to connect to the `connected` to a slot in you

[2017-10-19 22:25] sarangborude opened #121 "How to install this on QT Creator"
I am fairly new to QT development.
Can you tell me how I can add it to my project?
Thanks

[2017-10-20 07:35] caiweics opened #122 "failed to connect to host or ssl certification error?need help !"
I downloaded the last release code.  Qt 5.7.1 + ubuntu 14.04 64bit.
I builded the .so files , and complied the example to connect the servers .
but failed .
some code:
`    explicit Subscriber(const QString& hostName,
                        const quint16 port,
                        const QSslConfiguration& config,
                        const bool ignoreSelfSigned=false,

[2017-10-20 18:40] sarangborude opened #123 "cannot connect to MQTT broker"
Hi I am using CloudMQTT as the MQTT broker
I have a username and password to access.
My code looks like following
QMQTT::Client *client = new QMQTT::Client();
    client->setUsername("username");
    client->setPassword("password");
    client->setHostName("mqtt://m11.cloudmqtt.com");
    client->setPort(port);
client->connectToHost();
client->connectionState() (This returns 0)

Why could this be

[2017-10-20 19:23] mwallnoefer commented on #123
Please look at issue #120 to find the answer.

[2017-10-20 19:23] #123 closed

[2017-10-20 19:24] #120 closed

[2017-10-21 04:31] ejvr commented on #123
Also, drop the 'mqtt://' prefix from the hostname. It is a hostname after all, not a url.

[2017-10-21 04:35] ejvr commented on #122
Please remove the 'ssl://' prefix from `hostStr`, and check the port number you are using. Default port number for mqtt over ssl is 8883, not 1884.

And don't forget to reset your mqtt password, because you published it on an open internet forum.

[2017-10-23 07:08] caiweics commented on #122
thanks for your help , ejvr.
 i changed the hostStr. but still have some problems .
1.
if i use the constructor :
    Client(const QString& hostName,
           const quint16 port,
           const QSslConfiguration& config,
           const bool ignoreSelfSigned=false,
           QObject* parent = NULL);
and set sslconfig as default
QSslConfiguration sslConfig = QSslConfiguration::defaultConfigur

[2017-10-23 17:14] ejvr commented on #122
I can't see what's wrong here. If you use the example without changes (you'll need to use the IP-address of the broker instead of the hostname), does that work properly?

And which broker are you using?

[2017-10-24 07:24] caiweics commented on #122
I am using the broker from china , alibaba or baidu.
I'd like to ask some questions first :
1. for ssl/tsl should I do something ? For example  create ssl certication keys myself outside my app? I think its not necessary and I did nothing .

2.If I would use ssl and the hostname (the hostaddress is given as hostname but not IP),
The constructor that should be used is :
Client(const QString& hostNa

[2017-10-24 19:09] ejvr commented on #122
I tried running `mosquitto -p 18881` using the example app with only the port number changed. I get this output:
[code]
This may look a bit confusing, but it means that the `Subscriber` has received the message published by `Publisher`.
On the mosquitto side I get:
[code]
So there should be 2 connections.

If you do not see this (probably not), there is something wrong with your setup. Maybe you c

[2017-10-25 02:23] caiweics commented on #122
The following is what I did:
1.download qmqtt-master.zip from github, extract package, run src/src.pro ,
copy libs  in dir 'lib' , copy headers in dir ''src/mqtt' .
so I get a pro like this: (all files in a new dir ,not in source dir)
├── client.pro
├── example.cpp
├── include
│   └── qmqtt
│       ├── qmqtt_client.h
│       ├── qmqtt_global.h
│       ├── qmqtt.h
│       └── qmqtt_message.h
└── li

[2017-10-25 18:31] ejvr commented on #122
Too bad it does not work yet. I'm slowly reaching the end of possible options here.
* maybe there is another libmqtt.so on your system, which is used by your example application. Please run `ldd qmqtt_example`, and check if it is using the correct library.
* you could try to monitor the incoming data in `QMQTT::Network::onSocketReadReady`. This allows us to see if the broker accept a connection re

[2017-11-06 06:09] caiweics commented on #122
how can I call QMQTT::Network::onSocketReadReady ?
I only #include <qmqtt.h>

[2017-11-06 06:10] caiweics commented on #122
1883 for tcp , 1884 for ssl , both failed .

[2017-11-06 16:52] ejvr commented on #122
That was not my intention. There are  possible problems:
1. QMQTT sends requests to the broker, but there is no answer from the broker
2. QMQTT receives data from the broker, but does not handle it properly.

Data from the broker is handled in `QMQTT::Network::onSocketReadReady`. So if you log all incoming data in this function, we may find out what the problem is.

If you are working with the SSL

[2017-11-09 06:35] caiweics commented on #122
I used the code:
https://www.eclipse.org/paho/clients/c/
https://www.eclipse.org/paho/clients/cpp/#

It sucesseded with the server infos:
const std::string DFLT_SERVER_ADDRESS { "tcp://backaudio-test.mqtt.iot.gz.baidubce.com:1883" };
const std::string DFLT_CLIENT_ID("DeviceId-async_subcribe_cpp");
const std::string USNAME("backaudio-test/server");
const std::string PSWORD("pnCRLWFbX5U1rw6grQHCLJ2D

[2017-11-10 03:21] caiweics commented on #122
connect(this, &QMQTT::Client::error,this , &Subscriber::errorOut);
I got the error : 2 means:SocketRemoteHostClosedError.

[2017-11-10 06:32] caiweics commented on #122
Thank you very much , I can use the qmqtt to connect to pub and sub , while tcp is used .
I got some mistakes.  For example , in the example.cpp subsriber and publisher the two client cant use same userId.
======================================
On this basis， I have some questions further。
1.If the hostname is given as string (for example : "tcp://backaudio-test.mqtt.iot.gz.baidubce.com:1883") and

[2017-11-20 03:10] #121 closed

[2017-12-22 08:29] mwallnoefer commented on #122
Answering this (apologies for having lost this discussion):
1. please set `ssl` and `ignoreSelfSigned` to `false`
2. I haven't one. Maybe @cncap or @ejvr ?

[2017-12-27 09:12] hyo0913 opened #124 "WebSocket cannot disconnectFromHost"
QMQTT::WebSocket::disconnectFormHost() has a bug

line 45: _socket->disconnect(); (call diconnect function of QObject)
have to change like this
_socket->close();

[2017-12-27 12:52] mwallnoefer commented on #124
@ejvr I think this is a serious issue. Would you like to fix it since you are the one which contributed the websocket part?

[2017-12-27 13:43] ejvr commented on #124
@mwallnoefer  Yes, this is a serious problem. Just posted a pull request to fix this.
Thanks @hyo0913

[2017-12-27 13:54] #124 closed

[2018-01-27 21:43] jfitz1959 opened #128 "Compatibility with cloudqmtt.com?"
I've pulled the code, and incorporated all  the example code into an existing GUI app (QT 5.7 ). All sample code compiles/links and the app runs fine
Implementing this section....
Subscriber subscriber;
subscriber.connectToHost();
Publisher publisher;
publisher.connectToHost();

my app never exits. Closer inspection shows the connect slot is never fired.

I've also tried this on a working mqtt con

[2018-01-31 13:19] mwallnoefer commented on #128
@ejvr Have you had already a look on this?

[2018-01-31 17:54] ejvr commented on #128
Not really. Maybe I have some time in the weekend to play around with CloudMqtt.

My guess is that CloudMqtt needs an SSL connection, because it is a cloud service. You would not want to transmit username & password in clear text over the internet. But I'm not completely sure if that is how CloudMqtt works. It's is also possible they support websockets only (so no TCP or TCP+SSL).

A quick visit t

[2018-01-31 18:54] mwallnoefer commented on #122
@caiweics Did your problem get resolved?

Unfortunately I have no code with a client SSL certificate around. You would need to look at Qt's _QSslSocket_ implementation any perhaps modify qmqtt.

[2018-01-31 21:13] jfitz1959 commented on #128
@mwallnoefer I'll give the SSL technique a try out. side note: the MQTTLib for .NET works fine on the same machine. Thanks for the feedback.

[2018-02-01 18:17] ejvr commented on #128
I had some time to take a look at CloudMqtt. It appears they do support connections over unencrypted TCP.
I managed to get a working connection by adjusting the example project. The project now also contains a very simple GUI. It looks like this:
[code]

@jfitz1959 Can you try to run this? If this works, but your own project does not, maybe you could check if the mainloop is active (that is: if th

[2018-02-12 11:06] arjun312 commented on #103
hey @cecilios  and everyone ,, I'm completely new to Qt, I'm having trouble with compiling mqtt with Qt in Ubuntu(16.0.4). If you can ,,please help me with downloads and installation and configuration. I'm very much in a confused state.

Thank you

[2018-02-12 16:31] cecilios commented on #103
Sorry, I can not help on this. I did it time ago and I do not remember the details. From what I can remember I just followed the instructions in this issue:
[code]

I remember having had trouble to make that script work, but the problems were caused by a bad installation of Qt. I had a mixture of two Qt installations. So I uninstalled and cleaned everything related to Qt, reinstalled a clean copy

[2018-02-12 16:50] ejvr commented on #103
cecilios' explanation is correct. But before doing that you need to install all qt development files.
On Ubuntu you can do that with:
[code]
Now check the version of qt by running
[code]
It should give you a qt version >= 5.3 (I think it is 5.5 on ubuntu 16). If the qt version is correct, you can start with cecilios recipe. There may be multiple versions of qmake on your system, so it's best to re

[2018-02-13 04:56] arjun312 commented on #103
Thank you both @cecilios  and @ejvr . I think I can work with you're suggestions. 👍

[2018-02-19 06:41] arjun312 commented on #103
Can anyone help me with this please?
@cecilios as you said I did excatly same but getting error please see the screenshot, If you can please help me.
![fsdfscreenshot from 2018-02-19 12-04-03](https://user-images.githubusercontent.com/24357622/36365115-f5aeebee-156d-11e8-95cb-110e89efdf0a.png)

Can you point out the error and give me a solution.
Thank you

[2018-02-19 10:32] cecilios commented on #103
@arjun312 No, sorry. I can not help. I know nothing of Qt and qmqtt. I had problems for building qmqtt but once solved, I build the library and never rebuild it again.
In the log you attached there is a warning pointing to file qmqtt.pro. Try to investigate it.

[2018-02-19 17:20] ejvr commented on #103
Instead of `qmake -r ..` could you try `/usr/lib/x86_64-linux-gnu/qt5/bin/qmake -r ..`? Maybe there are multiple versions of qmake on your system. Apart from that, I have no idea could have gone wrong.

[2018-02-20 04:46] arjun312 commented on #103
Thank you so much guys I'm very glad you replied. I'll try and let you know guys.

Thanks Again @cecilios, @ejvr

[2018-02-23 09:33] arjun312 commented on #103
Hey @ejvr  I'm really sorry for bothering you so much. compiling qmqtt was successful after I tried you're suggestion

but still I'm getting QT= mqtt no such file.

Can  you please help me to confiure a qt project with mqtt from scratch.
I'm really tried a lot but I know I'm making a mistake somewhere.

If you can just help me to make a connnection from qt application to a broker or server running

[2018-02-23 12:19] KonstantinRitt commented on #103
I don't think it will work for Qt 5.5. Try with Qt>=5.7

[2018-02-23 14:02] ejvr commented on #103
@KonstantinRitt Why do you think that? According to the readme this project should still run on QT 5.3. Some time ago (6-12 months) it still did. Do you know of any changes in the qmake files that will break the build on old QT versions?

@arjun312 I'm sorry to head it does not work yet. Maybe you could try a newer QT version. Other option is to include the qmqtt files directly in your own project

[2018-02-23 15:36] cecilios commented on #103
@arjun312 Just in case this helps you:

- I use Qt 5.10
- For may initial tests I used this .pro file:

[code]
But later, as I intended to build an app running on an android smartphone, I decided no to build the mqtt library but to include the qmqtt in my project. I used this .pro file:
[code]

I'm not sure if these .pro file are ok as I did this time ago. But is what I have in my disk.
Good luck!

[2018-02-24 00:56] KonstantinRitt commented on #103
Did you ever try qmqtt "client" example?
Just quoting its .pro file:

Yours (proper one) should be like that

[code]

[2018-02-24 01:00] KonstantinRitt commented on #103
Just for the case: I'm using qmqtt as a module since Qt 5.6, on four different platforms, by simply

plus

in my .pro file

[2018-02-24 11:17] arjun312 commented on #103
Thank you guys for you're support. @cecilios @ejvr  @KonstantinRitt . With all you're suggestions I was able to compile and build qmqtt library, but I got stuck while including libraries. Please take look at screenshots and tell me where I'm going wrong.

FYI,

- I'm using latest Qt Creator version 5.10.1 on ubuntu 16.04 LTS

- Yes, I did tried qmqtt-client and also qtmqtt from [here](https://gith

[2018-02-24 11:56] arjun312 commented on #103
Thank you guys for you're support. @cecilios @ejvr  @KonstantinRitt . With all you're suggestions I was able to compile and build qmqtt library, but I got stuck while including libraries. Please take look at screenshots and tell me where I'm going wrong.

FYI,

- I'm using latest Qt Creator version 5.10.1 on ubuntu 16.04 LTS

- Yes, I did tried qmqtt-client and also qtmqtt from [here](https://gith

[2018-02-24 15:05] KonstantinRitt commented on #103
I still don't see `-I../../Qt/5.10.1/gcc_64/include/qmqtt` on your screenshot, which makes me think you didn't add `QT += mqtt` to your .pro file

[2018-02-24 15:15] KonstantinRitt commented on #103
ouch, that's completely different module!

Try this:
[code]

[2018-02-26 11:39] arjun312 commented on #103
Thanks  a lot @KonstantinRitt  I did exactly as you said, now its working .
I was searching for these from past few months but every time, I used get some error.
At one point I even thought of dropping the idea of using qt. anyhow
Thank you so much @KonstantinRitt  and everyone for you're help.

[2018-02-26 15:15] arjun312 commented on #103
Thank you for you're quick response @mwallnoefer but there is difficulty in building

this project, I'm getting error like few header file are missing and facing issue in adding emqtt libraries into qt . So is there any project you have build within qt?

[2018-02-27 06:24] arjun312 commented on #103
Thank you everyone finally somehow I managed to get gui to work, The issue was with the library as I said before. now it's working.

Thank you all for you're supports.. :) :+1:

[2018-03-06 02:29] 841974180 opened #129 "connect localhost error"
QMQTT::Client *client = new QMQTT::Client(QHostAddress::LocalHost);
    client->connectToHost();
    if(!client->isConnectedToHost())
    {
        qDebug()<<"falied";
    }
    QObject::connect(client,&QMQTT::Client::error,[](const QMQTT::ClientError error){
        qDebug()<<error;
    });

the log is  falied  , the error enum is 1 ClientError::SocketConnectionRefusedError

[2018-03-06 19:09] ejvr commented on #129
The reason for the first log message ("failed") is simple: isConnectedToHost is asynchronous. 
The function call only starts the connection procedure, the connected signal will be emitted
after the connection has been made.

The reason for the SocketConnectionRefusedError: I'm not sure, but the error suggests that there
is no mqtt server running on localhost, or the port number is incorrect.

On 0

[2018-03-07 00:33] 841974180 commented on #129
hi,ejvr.Thanks for your caution,I think I don't set up mqtt server.The other things I use this lib to connect the net mqtt server the default constructor (QHostAddress,port,QObject) cann't connect, when I try other constructor(QString address, port, bool ssl, bool ..., ...) I success,but I don't understand why.

[2018-03-07 16:20] ejvr commented on #129
Hallo 星夜无月,

Hmm, it appears you are right. It seems that the constructor (QHostAddress,port,QObject) always tries to connect to localhost, which is a bug of course. I will look into it.

Thanks for sharing your observation!
On 07-Mar-18 01:33:57, 星夜无月 <notifications@github.com> wrote:
hi,ejvr.Thanks for your caution,I think I don't set up mqtt server.The other things I use this lib to connect the

[2018-03-08 08:45] mwallnoefer commented on #129
Good catch, @ejvr. I have merged the fix and close the issue.

[2018-03-08 08:45] #129 closed

[2018-03-23 03:01] KishoreRavih commented on #86
I am having a problem in connecting to host using qmqtt. below is my code
 QFile certFile("YOURPFXFILE.pfx");
       bool rt = certFile.open(QFile::ReadOnly);
       qDebug()<<"certificate opened succ"<<rt;
       QSslCertificate certificate;
       QSslKey key;
       QList<QSslCertificate> importedCerts;
        QString passphrase = "virtual";
       bool imported = QSslCertificate::importPkcs12

[2018-03-23 05:38] KishoreRavih opened #131 "qmqtt- cannot connect to host"
I am having a problem in connecting to host using qmqtt. below is my code
QFile certFile("YOURPFXFILE.pfx");
bool rt = certFile.open(QFile::ReadOnly);
qDebug()<<"certificate opened succ"<<rt;
QSslCertificate certificate;
QSslKey key;
QList importedCerts;
QString passphrase = "virtual";
bool imported = QSslCertificate::importPkcs12(&certFile, &key, &certificate, &importedCerts, QByteArray::fromStdS

[2018-04-02 08:50] jjhsieh opened #132 "Need a way to set QSslConfiguration to WebSocket"
There is no way to add custom SSL configuration when connecting with WebSocket.

The Qt5 doc says it can be done with this API:
http://doc.qt.io/qt-5/qwebsocket.html#setSslConfiguration

I have modified qmqtt and it worked:
[0001-Support-using-custom-QSslConfiguration-for-WebSocket.patch.zip](https://github.com/emqtt/qmqtt/files/1867672/0001-Support-using-custom-QSslConfiguration-for-WebSocket.pat

[2018-04-10 02:46] qwyinxiang opened #133 "Does qmqtt client support token authentication?"
My Mqtt broker need a token based authentication, I want to know does the qmqtt client support token based authentication? if support, how can I config?

[2018-04-10 07:11] mwallnoefer commented on #131
@ejvr @KonstantinRitt  Do you have an idea?

[2018-04-10 07:14] mwallnoefer commented on #132
A nice patch, @jjhsieh.

@ejvr @KonstantinRitt What do you think? Especially you Konstantin, which did much work in the SSL area, could you review and test it for us?

[2018-04-10 08:44] qwyinxiang commented on #133
I config the mqtt client as below:
client = new QMQTT::Client(QHostAddress(strHost), mqttPort);
client->setUsername(strAccessToken);
client->setKeepAlive(60);
client->connectToHost();
 my program crashed later.

[2018-04-10 10:33] KonstantinRitt commented on #132
looks good to me, though I'd propose s/QSslConfiguration*/const QSslConfiguration &/g and s/config != NULL/!config.isNull()/

[2018-04-10 16:33] ejvr commented on #133
QMQTT only supports username/password combos. Maybe it is possible to create access tokens using another protocol (like OAUTH) and send them to the broker using the password field in the connect message (see [this](https://www.hivemq.com/blog/mqtt-security-fundamentals-oauth-2-0-mqtt) page for more info) This should work.

[2018-04-10 17:42] #128 closed

[2018-04-11 10:11] qwyinxiang commented on #133
### I set my QMQTT client as below:
        client->setHostName(strHost);
        client->setPort(mqttPort);
        gSysSetting->generateApplicationKey();
        gSysSetting->generateAccessToken();
        client->setClientId("manager");
        client->setPassword(gSysSetting->getAccessToken().toUtf8());
        client->setKeepAlive(60);
        client->connectToHost();
My Mqtt client disconnec

[2018-04-16 08:02] qwyinxiang commented on #133
Yes, qmqtt support token based authentication, I set the token using the username filed is correct.
Before, My mqtt client disconnect is because my mqtt topic's format is wrong.
thank you very much.

[2018-04-16 08:50] mwallnoefer commented on #131
@KonstantinRitt You are the SSL guy here, do you have no clue?

[2018-04-17 06:05] mwallnoefer commented on #133
Regarding to pull request: #135. Is it fine that we modify an existing signal, e.g. change its interface by introducing a new parameter? I would avoid breaking existing code.

[2018-04-17 06:29] yinbaoqiang commented on #133
The connack return value is divided by 0 except for success. The other is failure. The new signal can be used to maintain the previous compatibility. The signal before returning 0 will return the failed signal if it is non-zero. The ack value will be returned in the failure signal.

[2018-04-17 07:12] #132 closed

[2018-04-17 07:40] mwallnoefer commented on #133
As far as I read in the official docs http://doc.qt.io/qt-5/signalsandslots.html, arguments to signals may be added without breaking existing code, so it should be okay.

@ejvr + @KonstantinRitt: Are you also fine with this change or do you propose something else?

[2018-04-28 22:20] Sefriol opened #137 "Help: Exposing the library to QML"
I got into a situation where an API that I used was closed down and MQTT is all that is left. I have pretty much tinkered with QML before and I have not really touched Qt/C++-side.  For this case it might have been better to use Qt's own library, but my platform (SailfishOS) doesn't support Qt>5.6. So I needed to look for other solutions and learn something at the same time.

The general idea woul

[2018-04-29 16:38] ejvr commented on #137
I guess the Qt/qtmqtt example is a good point to start. There are some things you have to change:
* QmlMqttClient should inherit QObject, and keep a pointer to a QMQTT::Client as a member. You also have to add Q_PROPERTIES for hostname and port number. When one of those properties is set, you can create a QMQTT::Client object. Make sure you connect to the connected signal. Do not call the subscrib

[2018-04-30 08:40] Sefriol commented on #137
Examples would be more than welcome! It's easier to learn from something that more or less works and then build on top of it.

[2018-04-30 19:05] ejvr commented on #137
Just pushed an [example](https://github.com/ejvr/qmqtt2qml/tree/master) to github. It seemed easier to create a new repository than to copy paste the code here, as the example consists of several files.

If you have any questions/comments/bug fixes, please create an issue in the new repo, so the qmqtt maintainers can close this issue.

[2018-04-30 22:32] Sefriol commented on #137
Tried it a little and I was able to compile and get some tests running with my phone. Thanks! This will be a good starting point.

[2018-05-07 15:44] ejvr commented on #137
@mwallnoefer This issue can be closed now. I have understood from @Sefriol that he has a working proof of concept now.

[2018-05-07 16:56] mwallnoefer commented on #133
@yinbaoqiang The modified pull request #138 has landed in our repo. Do you require something else in this ticket or may we close it?

[2018-05-07 16:56] #137 closed

[2018-05-08 05:59] yinbaoqiang commented on #133
Now realize my needs, thank you.

[2018-05-08 06:35] yinbaoqiang opened #139 "How to detect heartbeat timeout?"
I did not see the heartbeat timeout detection code in the source code. I only saw a signal void pingresp(). Do I need to receive the signal externally to handle the heartbeat timeout?

[2018-05-08 07:47] #133 closed

[2018-05-08 07:48] mwallnoefer commented on #139
@ejvr?

[2018-05-08 17:25] ejvr commented on #139
@yinbaoqiang is right. QMQTT will send a heartbeat (PINGREQ) on regular interval, and it will report the response (PINGRESP) sent by the server, but the absense of the response is not reported. So yes, this has to be done externally, right now.

According to the standard (MQTT-3.1.2-24), the client must close the connection if there is no response after 1.5x the keep alive interval. So in this res

[2018-05-09 04:09] yinbaoqiang commented on #139
@ejvr
After (MQTT-3.1.2-24),

1.5x is the server's processing method, not the client's processing method.

[2018-05-09 10:43] ejvr commented on #139
You are correct. As far as I understand now, there is no timeout specified
for the client. What would you propose? I would take a percentage of the
keep alive interval.

On Wed, May 9, 2018, 06:09 尹宝强 <notifications@github.com> wrote:

[2018-05-10 05:39] yinbaoqiang commented on #139
If no message is sent or received for a period of time, the PINGREQ command is sent. If a timeout period is set for the detection, and if the timeout period does not reach PINGRESP, the timeout is determined and the connection is disconnected and reconnected.

[2018-05-14 02:50] Beemaneni commented on #103
Hey
I could compile library qmqtt library and run Client application. But i have issue in connecting to server. I have an amazon server and when i set server as ".........compute.amazonaws.com" i see HostAddress becomes null.
Host Address:  QHostAddress("") ""
Help Me in solving this.

Thanks

[2018-05-15 03:36] yinbaoqiang opened #141 "SUBSCRIBE and UNSUBSCRIBE does not support multi-topic filters"
I did not find the source code that supports this feature.

[2018-05-25 12:15] NicoWallmeier opened #143 "Question regarding QOS 1 / 2"
I have reviewed the qmqtt implementation and I’m wondering how QOS 1 respectively QOS 2 works if the underlying socket is not connected while the publish method is executed?

In that case the method QMQTT::Network::sendFrame would do nothing because the socket is not connected, but the method QMQTT::ClientPrivate::publish would put the message to the hash _midToMessage. I could not find that a ret

[2018-05-27 05:20] flashtt opened #144 "Can not auto reconnect in raspberry pi"
I write a demo in PC, and set AutoReconnnect to true. It works well. But the AutoReconnect function can not work when I use the demo in Raspberry Pi.  I could not find the problem because the codes are the same.

[2018-05-27 06:43] ejvr commented on #144
With 'PC' do you mean Windows?

On 27-May-18 07:20:07, flashtt <notifications@github.com> wrote:
I write a demo in PC, and set AutoReconnnect to true. It works well. But the AutoReconnect function can not work when I use the demo in Raspberry Pi. I could not find the problem because the codes are the same.
—
You are receiving this because you are subscribed to this thread.
Reply to this email dire

[2018-05-27 06:44] ejvr commented on #143
I guess retransmission is not supported (yet).

On 25-May-18 14:15:31, NicoWallmeier <notifications@github.com> wrote:
I have reviewed the qmqtt implementation and I’m wondering how QOS 1 respectively QOS 2 works if the underlying socket is not connected while the publish method is executed?
In that case the method QMQTT::Network::sendFrame would do nothing because the socket is not connected, but

[2018-05-29 02:00] flashtt commented on #144
Sorry for late,  PC means Windows, actually the same demo in ubuntu desktop also works well.

[2018-05-29 02:13] flashtt commented on #144
I register the error signal to  a slot, there are two circumstance for reference in raspberry pi.
First I run the demo without network. It prints error and connect successfully when I connect the network.
Second I run the demo with network connected. Then I disconnect the network, the slot doesn' t work, and so no reconnection happens when I recover the network.
I don't understand why it doesn't w

[2018-05-30 18:36] mwallnoefer commented on #131
Closing since we got no answer for a while.

[2018-05-30 18:36] #131 closed

[2018-05-30 18:37] mwallnoefer commented on #139
This should have been fixed by pull request #140.

[2018-05-30 18:37] #139 closed

[2018-05-31 08:08] flashtt commented on #144
Thanks, I use a timer to detect connection status for a temporary solution. Indeed some signals not emit but I don't know why. I will post my program after further test, or maybe I can find the problem.

[2018-05-31 20:17] tomasz3dk opened #145 "Same module linking name as official qtmqtt module"
Both emqtt/qmqtt and official [QtMqtt](http://doc.qt.io/QtMQTT/index.html) module from Qt Company have same name to link against module in qmake *.pro file:

[2018-06-05 04:57] mwallnoefer commented on #145
@ejvr + @KonstantinRitt What could we do here? Is renaming the only possibility, although not nice since we break existing code?

[2018-06-05 17:26] ejvr commented on #145
I think that is a good idea. This implies that we should no encourage people to use qmqtt with QT version that support QtMqtt (>= 5.10?). It older version there is no conflict (until someone backports QtMqtt).

[2018-06-05 20:09] tomasz3dk commented on #145
I also think that this is a good idea, but also have some concerns that some people will probably want to use this implementation of mqtt module (which is very good btw) for license reason. QtMqtt is actually part of Qt for Automation offer from Qt Company which is paid. QtMqtt is also available on GPL license, so when someone wants to write closed source software must buy license from Qt Company.

[2018-06-07 14:42] mwallnoefer commented on #141
Okay, closing it since the feature will not be implemented.

[2018-06-07 14:42] #141 closed

[2018-07-02 23:35] jbenfica opened #148 "Not connect to Host"
Hello, I would like help. I already compiled and installed the library, all right. The client example (which comes along) works perfectly. But when I create a project, it never connects. Below is my code, please help me.

#include "mainwindow.h"
#include "ui_mainwindow.h"
#include <qmqtt.h>
#include <QCoreApplication>
#include <QTimer>

QHostAddress EXAMPLE_HOST;
const quint16 EXAMPLE_PORT = 1883;

[2018-07-05 10:36] mwallnoefer commented on #148
At first glance your code looks correct. But you would need to elaborate a bit more on this; e.g. did you test with some other mqtt client libraries using the same settings? Have you already tried connecting with our Qt GUI Client (https://github.com/emqtt/qmqtt-client)?

[2018-07-05 20:56] jbenfica commented on #148
Hello!! Thanks for your help, yes I tried thes example (https://github.com/emqtt/qmqtt-client), same thing.
It compiles, but never connects.
Any other possibility???

[2018-07-06 05:07] ejvr commented on #148
Hello,

First of all, I think it is a good idea to test with a local mqtt broker
first, so you can exclude all kinds of connection and authentication
problems.

It is also worth mentioning that the connectToHost function is
asynchronous. So your debug message right after will always tell you there
is no connection.

Also  check if there are any other debug msssages. For example, there may
be somet

[2018-07-07 08:54] mwallnoefer commented on #148
Yes, you can use the C++11 syntax:
[code]
Please have a look at Qt's wiki page: http://wiki.qt.io/New_Signal_Slot_Syntax

[2018-07-19 08:46] genii2014 opened #149 "Protocol display Any"
`QObject::connect(clientmqtt,` &QMQTT::Client::connected, this, &Publisher::onConneccted);
`void Publisher::onConneccted()
`{
`    qDebug() << "OnConnected~~~";
`    clientmqtt->subscribe(EXAMPLE_TOPIC, 0);
`    _timer.start(1000);
`}

[2018-07-27 16:01] mwallnoefer commented on #144
Closing it for now, please reopen if you feel the need, in particular when you have more details to give us.

[2018-07-27 16:01] #144 closed

[2018-07-27 16:02] mwallnoefer commented on #148
Any news here?

[2018-07-27 16:04] mwallnoefer commented on #149
At a first glance the code looks correct, but you would also need to tell us if you use the event queue etc. Maybe a more complete example could help us to diagnose this further.

Finally, could your issue be related to #148?

[2018-07-28 01:03] nelsonprint commented on #7
Olá. eu tenho uma prova que apresenta a função ping / pong.
preciso entender como funciona.
alguém poderia me ajudar?

...
[ping pong.pdf](https://github.com/emqtt/qmqtt/files/2237543/ping.pong.pdf)

[2018-07-31 06:02] genii2014 commented on #149
**MQTTDemo.pro**

`QT += core`
`QT -= gui`
`QT += network`
`QT += websockets`

`CONFIG += c++11`
`CONFIG += console`
`CONFIG -= app_bundle`

`TARGET = MQTTDemo`
`TEMPLATE = app`
`SOURCES += main.cpp \`
`    publisher.cpp`
`HEADERS += \`
`    publisher.h`

`INCLUDEPATH += F:\Downlist\qmqtt-master\src\mqtt`
`LIBS += F:/Downlist/build-qmqtt-Desktop_Qt_5_7_0_MinGW_32bit-Debug/lib/libqmqtt.a \`
`

[2018-08-01 03:29] genii2014 commented on #149
Solve

main.cpp
[code]

Thank you for your help， @mwallnoefer

[2018-08-01 08:56] mwallnoefer commented on #149
Okay, `Publisher::Publisher(const QHostAddress &host, const quint16 port, QObject *parent)` seems incomplete in respect to `Publisher::Publisher()`, that means you are not calling `connectToHost()`, you do not set auto reconnect to true and you have less signals connected. But this is certainly not the issue here, since you are using the default parameter-less constructor.

Beside this your code l

[2018-08-01 09:08] mwallnoefer commented on #149
Other point which you should check is the protocol version number which the broker Apollo Console supports. We per default use 3.1.0 but optionally support 3.1.1 as well, look at the enumeration in the `qmqtt_client.h` header:

[code]
You may change the version number by calling `setVersion()` before `connectToHost()`.

[2018-08-01 13:04] KonstantinRitt commented on #149
-INCLUDEPATH += F:\Downlist\qmqtt-master\src\mqtt
-LIBS += F:/Downlist/build-qmqtt-Desktop_Qt_5_7_0_MinGW_32bit-Debug/lib/libqmqtt.a \
-F:/Downlist/build-qmqtt-Desktop_Qt_5_7_0_MinGW_32bit-Debug/lib/libqmqttd.a
+QT += mqtt

also try connecting *after* the eventloop is running

-clientmqtt->connectToHost();
+QTimer::singleShot(0, clientmqtt, &QMQTT::Client::connectToHost);

[2018-08-01 18:25] ejvr commented on #149
Maybe I do not understand the last comment of @genii2014, but my interpretation is that there was a getchar call in the program's main function before starting the event loop. That would explain the problem.

@KonstantinRitt Is there a good reason to connect _after_ starting the event loop? If so, we need to update the QMQTT example (and I need to update some source code as well :) ).

[2018-08-02 12:15] KonstantinRitt commented on #149
Usually, no. QCoreApplication's event loop collects posted events to process once the event loop started. But here I see some commented-out magic code that makes me think something was expected to be done prior to `exec()`, possibly causing the connection hang by bloating the event loop (or whatever)...

i.e.
getchar() {
QEventLoop el;
el.exec();
}

[2018-08-03 09:14] genii2014 commented on #149
#148 @Kampfgnom  Analyze the reason correctly

[2018-08-03 09:16] genii2014 opened #150 "qt for android Compiling source code"
I have a new question。
Use QT to compile qmtt source code,
Kit : Android for armeabi-v7a(GCC 4.9, Qt 5.7.0)
NDK： r10e
SDK ： android-4.4

Compile error：

cd mqtt\ && ( if not exist Makefile D:\Qt\Qt5.7.0\5.7\android_armv7\bin\qmake.exe F:\Downlist\qmqtt-master\src\mqtt\mqtt.pro -spec android-g++ "CONFIG+=debug" "CONFIG+=qml_debug" -o Makefile ) && D:/Qt/Qt5.7.0/Tools/mingw530_32/bin/mingw32-make -f

[2018-08-03 18:22] mwallnoefer commented on #150
Any chance to have your _Makefile_ posted here (you find it in the build* directory).
Second it would be nice to have the two error messages in Chinese traduced into English.

In general this is strange, as a rule of thumb the build should be working on Android as well.

[2018-08-03 18:28] mwallnoefer commented on #149
@genii2014 Please follow the advice of KonstantinRitt, looking myself into the `main()` function's code I agree with him that very probably this is a problem of a wrong use of `getchar()`. You would need to find a non-blocking alternative for it or move the mqtt code to another thread (I hope you have some knowledge of thread programming in Qt - there exist some good howtos and hints in the offici

[2018-08-06 03:12] genii2014 commented on #150
Add the source code to the project and compile it correctly.

But，Compiling the source code into a dynamic library, error;

[2018-08-07 08:56] mwallnoefer commented on #148
Closing it for now.

[2018-08-07 08:56] #148 closed

[2018-08-07 10:46] ejvr commented on #150
Never compiled native code for android, so I can't help you there.

On Tue, Aug 7, 2018, 10:59 Matthias Dieter Wallnöfer <
notifications@github.com> wrote:

[2018-08-07 11:15] KonstantinRitt commented on #150
You're building from QtCreator, it seems. First, check "Build Android APK" build step is disabled. All you really need is `qmake && make install`. If that doesn't help, try updating your Android NDK to something less outdated, i.e. to r14*

[2018-08-11 18:31] spockfish commented on #145
I can say from my own experience, that this implementation works better than the official Qt one. Furthermore it has also more functionality (reconnect for example), so I really hope you guys are not going to abandon this. The licensing part is a huge issue.

I still would consider to rename the module from 'mqtt' to 'emqtt'. It's a relatively straight forward change that does not have that much i

[2018-08-14 12:10] Psy-Kai opened #152 "Wrong header generated when compiling"
When compiling qmqtt with qmake the generated header just look like this:

    #include "../../../src/mqtt/qmqtt_client.h"
The problem is really hard to find because the Qt qmake features (*.prf) are used. But Qt warns in this feature-files that they could change at any time. So using them is a very very bad idea. So for now you cannot build a usable developer version of qmqtt with newer Qt-versio

[2018-08-14 16:32] mwallnoefer commented on #152
Okay, this seems to be a valid issue. I assign this to @KonstantinRitt, which converted the library into a Qt module - he is more expert in this area.

[2018-08-14 16:36] mwallnoefer commented on #145
Before doing this I would like to hear some more opinions, since such a change affects basically all user projects.

[2018-08-14 16:49] KonstantinRitt commented on #152
*Which* problem?
Did you configure your Qt with -developer-build? If so, how do the other Qt module's headers look like? Otherwise, did you try `make install`?

[2018-08-14 16:54] KonstantinRitt commented on #145
As long as emqtt project doesn't follow any BC policies and one have to rebuild the module from time to time, I (personally) don't care about the module name. Renaming it to `emqtt` sounds ok to me.

[2018-08-14 18:49] tomasz3dk commented on #145
For me it also sounds ok.

[2018-08-15 06:09] Psy-Kai commented on #152
Okay. `make install` "solved" the problem.
But since qmqtt is no official Qt module I don't like the idea that its files are installed into the Qt directories by default. Is it possible with a small qmake argument to define an other install dir?

[2018-08-15 08:28] #149 closed

[2018-08-15 10:42] KonstantinRitt commented on #152
It is how Qt modules work, "official" or not. It doesn't matter if some one likes or dislikes that.

Yes. Configure your Qt with -developer-build, build qtbase (and all other modules of interest) with just `make` instead of `make install`. Note that this option is for developing Qt, not *with* Qt, which means you likely do not want to deploy your final binaries to the store.

[2018-08-15 10:43] KonstantinRitt commented on #152
Plz close this issue as "Invalid/Won't fix"

[2018-08-15 11:41] mwallnoefer commented on #152
Okay, as far as I have understood choosing another module installation path for qmqtt is very complicated due to design limitations in Qt itself.

@Psy-Kai If you disagree with this you need to find your own work-around. Maybe integrate the library (at least the headers) in your project to have the headers in a handy path. That is all what I can suggest you, I am afraid.

[2018-08-15 11:41] #152 closed

[2018-08-19 19:36] #150 closed

[2018-08-19 19:37] mwallnoefer commented on #145
@ejvr You were also very active here, what do you think about the rename?

[2018-08-20 15:48] ejvr commented on #145
Apart from breaking some builds (which can be easily fixes) I so no problems in renaming the library. mqtt is just slightly too generic.

[2018-08-20 16:34] mwallnoefer commented on #145
Okay, according to this comments people should be okay with this decision.

@KonstantinRitt Could you please prepare the rename patch so that I can merge it? I think it was you who has done the 'modularization'.

[2018-08-21 16:04] KonstantinRitt commented on #145
@mwallnoefer Done as part of https://github.com/emqtt/qmqtt/pull/153

[2018-08-21 18:56] mwallnoefer commented on #145
Fantastic @KonstantinRitt, thanks for the contribution.

[2018-08-21 18:56] #145 closed

[2018-08-24 14:21] momor10 opened #154 "QOS2 Bad Message Disconnecting Client"
Im using artemis 1.5.5 embedded into wildfly 14 and qmqtt as a client.
Connecting using ssl and authentication is working fine. I can also Publish data using qos level 0 and 1 successfully. However when i try to use qos 2 i get a bad message error and the client gets disconnected by the server.

The message is being received at the Server successfully.. so could a faulty PUBREL message be the prob

[2018-08-24 15:06] mwallnoefer commented on #154
Could you perhaps try with another server first, like Mosquitto (http://test.mosquitto.org/) always with QoS level 2?
If also Mosquitto denies the service it could very likely be a problem in our library.

Do you think that Issue #143 could be related to yours?

[2018-08-24 15:14] momor10 commented on #154
Thanks for your answer.

I didn’t try another server yet. However i tried another client. Mqtt.fx client works using qos2 messages. I don’t know about the retransmissions yet though, because i wasn’t Ablehnung to publish a message without getting disconnected.

[2018-08-27 11:14] momor10 commented on #154
I tested it with test.mosquitto.org and it works, so it doesnt disconnect using qos2 with qmqtt publish.
So the current status:
artemis 1.5.5 broker and qmqtt client : publish with qos0/1 works, publish with qos2 disconnects with bad message error
artemis 1.5.5 broker and MQTT.fx client :  publish with qos0/1/2 works

test.mosquitto.org and qmqtt client :  publish with qos0/1/2 works
test.mosquitt

[2018-08-27 14:18] momor10 commented on #154
I tested it with test.mosquitto.org and it doesnt work also, so it disconnects using qos2 with qmqtt publish.
So the current status:
artemis 1.5.5 broker and qmqtt client : publish with qos0/1 works, publish with qos2 disconnects with bad message error, Client SocketRemoteHostClosedError
artemis 1.5.5 broker and MQTT.fx client : publish with qos0/1/2 works

test.mosquitto.org and qmqtt client : pu

[2018-08-27 17:55] mwallnoefer commented on #154
Mhm. Has someone else an idea, @ejvr or maybe also @KonstantinRitt ?

[2018-08-27 19:15] ejvr commented on #154
I just did some experiments on test.mosquitto.org and the qmqtt example application, and all of it worked fine for me. I tried connection with/without ssl, QOS level 0/1/2, publish/subscribe.

Anyway, that's not going to solve the problem. If you want, you can log the outgoing message without debugger by changing the qmqtt library a little bit.

In qmqtt_frame.cpp replae the Frame::write function

[2018-08-28 09:17] momor10 commented on #154
i used qCritical instead of qDebug. the output i see:

`[2018-08-28-11:16:42.128] Critical: "0x10 0x17 0x0 0x4 0x4d 0x51 0x54 0x54 0x4 0x2 0xea 0x60 0x0 0xb 0x6d 0x66 0x64 0x73 0x6d 0x61 0x6e 0x61 0x67 0x65 0x72 "
[2018-08-28-11:16:42.190] Dbg: onMqttConnected
[2018-08-28-11:16:48.175] Critical: "0x34 0x19 0x0 0x13 0x6a 0x6d 0x73 0x2f 0x71 0x75 0x65 0x75 0x65 0x2f 0x74 0x65 0x73 0x74 0x71 0x75 0x6

[2018-08-28 18:19] ejvr commented on #154
It seems that [MQTT v3.1.0](http://public.dhe.ibm.com/software/dw/webservices/ws-mqtt/mqtt-v3r1.html#pubrel) allows both 0x60 and 0x62 as header (bit 1 is used to request a PUBCOMP message from the server which appears to be optional), but [MQTT v3.1.1[(http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718053) explicitly demands to set bit 1 (so header 0x62).

Changing PUBR

[2018-08-29 19:41] mwallnoefer commented on #154
@ejvr So is pull request #155 the final fix to merge? Or should @momor10 better test it separately?

[2018-08-30 04:40] ejvr commented on #154
I have testes the change against test.mosquitto.org which is one of the
affected systems, so I think it's OK to merge.

On Wed, Aug 29, 2018, 21:41 Matthias Dieter Wallnöfer <
notifications@github.com> wrote:

[2018-08-30 05:26] mwallnoefer commented on #154
@momor10 should be fixed by the merged patch.

[2018-08-30 05:26] #154 closed

[2018-08-30 07:56] momor10 commented on #143
I'm not sure if it's the same problem. but sometimes a publish doesn't lead to a published nor to an error event (maybe due to a bad connection?)
Is there an timeout event or something similar for the publish method?

[2018-08-31 17:17] ejvr commented on #143
A call to Client::publish will cause a PUBLISH message to be sent over the TCP connection, unless the TCP connection is down at that moment (that is, we are between disconnect and reconnect), and there is no retry. I guess this is incorrect if QOS1/2 is used, but that's how it is.

About the pingrequest: right now, pinging is fully automatic, there is no manual option. It is easy to implement howe

[2018-09-07 16:49] CoderWannabe opened #156 "Compiling websocket support"
The README.md states that

But has I read and tried this is not enough because nowhere the define QT_WEBSOCKETS_LIB is defined. So the parts of code that add the websocket support will not be activated.
Am I right? Is there something that I don't fully understood?

[2018-09-07 17:54] ejvr commented on #156
The config setting should cause qmake to set the define. Are you sure you
have qt websockets installed on your system? Including the  development
files?

On Fri, Sep 7, 2018, 18:49 CoderWannabe <notifications@github.com> wrote:

[2018-09-10 15:23] CoderWannabe commented on #156
Can you show me where is this trigger? I searched all the qmqtt source for QMQTT_WEBSOCKETS and QT_WEBSOCKETS_LIB, but I didn't see any bond between them.

I've QT dynamically linked to my projects on Windows, Linux desktop and Linux embedded. So I haven't the QT source during my building.
I successfully use the qt websocket module in my projects.

[2018-09-10 17:39] ejvr commented on #156
Sorry, I misunderstood your question.

The 'CONFIG += ...' line triggers qmake to enable the module. I don't know what that means in detail, but it will set QMQTT_WEBSOCKETS (and it probably also sets the proper library for linking). You can check this in the makefile generated by qmake (or the MSVC project file).

[2018-09-11 09:25] momor10 opened #157 "PingRequest is sent even when disconnected"
When trying to connect to a server with autoreconnect set to true, the client will keep trying to reconnect.
After turning autoreconnect off using a checkbox it switches to sending PingRequests and running into timeouts (even though it was never actually connected):

[2018-09-12 10:53] CoderWannabe commented on #156
In the qmqtt.prg there is a conditional that add the websockets module to the QT variable. But I don't get how this can enable the QT_WEBSOCKETS_LIB definition that is used only in this project and not in the qt souce code.

Maybe @mwallnoefer  can help us to understand better.

[2018-09-12 18:27] ejvr commented on #157
Yes, it does not make sense to send pings when we know there's no connection.

Give me some time and I'll write a fix.

[2018-09-13 09:17] nizqsut commented on #17
Still have issue on Windows 10 64bit / Based on Qt 5.11.1.
":-1: error: [sub-mqtt-qmqtt-pro-qmake_all] Error 3."

[2018-09-13 09:47] nizqsut commented on #17
Fixed it. It need to install perl for windows.

[2018-09-13 10:36] CoderWannabe commented on #156
Ok, finally I get it! Thank you for your patience.

One last think, how do I use this library in my projects?
One way is to compile once the library and then import in any project using the LIBS += and INCLUDEPATH += variables.
But what I see in your code is that you create a new module in qt (mqtt) and maybe the previous isn't the right way to include the library/module in a new project.
In the r

[2018-09-14 12:53] PabloF7 opened #158 "Simple example"
Hi,
I cannot get qmqtt working. I compiled successfully and i can use it in project. This is the code i'm testing:

[code]
However, i'm getting no "message" in the suscriber, for which i'm using mosquitto client from console.
Any simple example of how to get this working?

Thanks

[2018-09-14 15:05] ejvr commented on #158
You have to wait for connection with the broker before you can publish messages.

So you should connect to the `connected` signal, and send the message in the slot connected to the signal.

[2018-09-14 15:16] PabloF7 commented on #158
Hi,
I've tryied that now, but it never connects. I mean, onConnected slot never gets called.
[code]

[2018-09-14 15:28] ejvr commented on #156
The most common method is to compile and install qmqtt (usually by running `make` and `make install`, I do not know how to do this when you're using visual studio). This will install the qmqtt headers and libraries somewhere inside the QT installation. You may need to run `make install` as root/admin.

After this, you should be able to use QT += qmqtt'

[2018-09-14 16:09] ejvr commented on #158
You are using a hostname ("test.mosquitto.org") to create a QHostAddress. This is not possible: you can only create a QHostAddress with an IP address. If you want to use a hostname you need another QMQTT::Client constructor.

For example: `new QMQTT::Client("test.mosquitto.org", 1883, false, false)`.

[2018-09-14 16:17] PabloF7 commented on #158
Thanks a lot! It's working now. I got confused because QHostAdress allowed me to input a string.

[2018-09-14 16:17] CoderWannabe commented on #156
Thank you so much for your explanations. The last two comments set me right.

I owe you one!

[2018-09-14 16:17] #156 closed

[2018-09-25 12:07] #158 closed

[2018-10-15 14:42] Biribu opened #160 "mqtt in community version QT"

[2018-10-15 14:42] #160 closed

[2018-10-24 12:27] MyraBaba opened #161 "auto-reconnect art disconnect"
is there any such functionality auto-reconnect . ?

[2018-10-24 13:14] MyraBaba commented on #161
when I try to re-connect manually server debug says :

16:12:01.168 [debug] Client(127.0.0.1:56511): Terminated for {shutdown,closed}
16:12:03.168 [debug] Client(127.0.0.1:56513): Terminated for {shutdown,closed}
16:12:05.165 [debug] Client(127.0.0.1:56515): Terminated for {shutdown,closed}
16:12:07.168 [debug] Client(127.0.0.1:56517): Terminated for {shutdown,closed}
16:12:09.164 [debug] Client(1

[2018-10-27 13:33] ejvr commented on #161
You can enable auto reconnect using
`QMQTT::Client::setAutoReconnect(true);`
The reconnect interval is 5 seconds by default. Change it with `setAutoReconnectInterval`.

[2018-10-27 13:39] MyraBaba commented on #161
in my qmqtt (from Qt) there is no such option :(

QMqttClient::setAutoReconnect(true);  is not available

[2018-10-27 14:34] ejvr commented on #161
I thinks you're posting to the wrong forum. It seems you are using the mqtt module that comes with QT itself. This is a different library with the same purpose.

[2018-10-27 20:30] #161 closed

[2018-11-04 13:45] ferandec opened #163 "connectToHost() fails on Windows10"
I have the same problem than those related in issues #148 or #149 : the signal QMQTT::connected() is not fired after calling connectToHost() on Windows 10.
I want to connect to the online broker test.mosquitto.org.
The console program provided with the library (qmqtt_example) works like charm with this broker but when I want to make my own GUI program, it fails due to the fact that the QMQTT:conne

[2018-11-05 19:39] ejvr commented on #163
Just tested the example project on windows, compiled with visual studio 2017 (64bit) and mingw 5.3 (32bit). But work as intended. I have also created a small GUI program based on your code, which also works OK (I could not directly test your code, because the UI definition is missing):

[code]

So you could try to run my code (maybe it works on your system, but I do not know why: my code is doing

[2018-11-06 18:11] ferandec commented on #163
Hello ejvr,

Thank you for your help.

I found the error origin. It was due to the project settings: I've added the libqmqtt library to the project (LIBS += -lqmqtt) in addition to the module qmqtt (QT += qmqtt)...
Then, after deleting the following Qt Creator auto-generated lines in the .pro file after my faulty library addition, the program runs as expected:
[code]
I apologize for reporting an i

[2018-11-06 18:11] #163 closed

[2018-11-28 19:33] momor10 commented on #157
not yet.. the reconnect-mechanism seems to be buggy yet. the reconnect doesnt always work. i couldnt figure it out in more detail yet though.

[2018-12-29 08:39] czqinyes opened #164 "Cannot send hex data when data is 0"
When I sent hex data,
eg: 88 77 66 55 00 11 22 33, only received: 88 77 66 55
0 and later data will not be sent (00 11 22 33)
I wonder if something wrong, please check and help, thanks

[2018-12-29 14:50] ejvr commented on #164
My guess is that the problem is in the construction of the `QByteArray` passed to the `QMQTT::Message` constructor. If you use `QByteArray::QByteArray(const char *data, int size = -1) ` and use the default value for the `size` parameter, the constructed `QByteArray` will contain the data up to the for 0 value. Passing the correct side should work as expected.

If this does not fix your problem, pl

[2018-12-30 02:01] czqinyes commented on #164
First, thank you very much for your help.
The problem is I use the "char buf[]" but not the "QByteArray"  passed to the QMQTT::Message constructor.

[2018-12-30 07:35] ejvr commented on #164
The `char buf[]` will be implicitly converted to a `QByteArray` before the `QMQTT::Message` constructor is called. This will use the same `QByteArray` constructor. In your case I would explicitly create a `QByteArray` from the char array and pass the length of the array. Like this:
[code]

In general: if you pass a char array or char pointer to a function without passing the length, it will be han

[2019-01-02 11:48] mwallnoefer commented on #164
Thanks for the correct explanation @ejvr.

I close this since it is not a bug.

[2019-01-02 11:48] #164 closed

[2019-01-05 10:39] UsernameKhan opened #165 "I can't receive the response."
I can publish message to the server. But i can't receive server's message. I don't know why.
This is my code:

    QHostAddress host;
    host.setAddress("my_server_ip");

    client = new QMQTT::Client;
    //client->setClientId("clientId");
    client->setUsername("name");
    client->setPassword("password");
    client->setHost(host);
    client->setPort(1883);
    client->connectToHost();

[2019-01-05 10:44] UsernameKhan commented on #165
Neither slotSubcribedSuccess(QString) nor slotShowMessage(QMQTT::Message) responds. I got crazy.
‘(*>﹏<*)′

[2019-01-05 13:53] ejvr commented on #165
You should wait until a connection with the server has been established before subscribing.
So you have to connect to `QMQTT::Client::connected` and call the subscribe function form that slot.

See the example project for more info.

[2019-01-05 15:59] UsernameKhan commented on #165
Thank you very much！I'll try again!

[2019-01-05 16:16] UsernameKhan commented on #165
QHostAddress host;
host.setAddress("my_server_ip");

client = new QMQTT::Client;
//client->setClientId("clientId");
client->setUsername("name");
client->setPassword("password");
client->setHost(host);
client->setPort(1883);
client->connectToHost();
//connect(client, SIGNAL(subscribed(QString,quint8)), this, SLOT(slotSubcribedSuccess(QString))); connect(client, SIGNAL(received(QMQTT::Message)), thi

[2019-01-06 17:35] #165 closed

[2019-01-06 18:33] tomasz3dk opened #166 "Bitbake/yocto recipe for qmqtt"
Didn't know where to announce that, so i've created new issue. I've made a bitbake recipe for qmqtt, and maybe it's worth to include it here in qmqtt sources or somewhere else. that someone who wants to use this library in embedded device that is developed with yocto project have everything in one place.
Link to recipe:
https://github.com/tomasz3dk/meta-cpplibs/blob/master/recipes-devtools/qmqtt/q

[2019-01-22 18:14] mwallnoefer commented on #166
Hi @tomasz3dk, first a big thank-you for your efforts.

@emqtt/qmqtt-team Has anyone a clear opinion about the inclusion of a Yocto bitbake receipt directly into our repo? Or should it better be maintained elsewhere?

[2019-01-30 16:47] ejvr commented on #166
Unfortunately my experience with these kind of recipes is rather limited. What I have seen is that the recipes are kept in a separate repository (the repository maintained by the distribution manager). One of the reason was that the recipe contains the download url of the source of the package, so the package builder knows where to find the source (and also which tag/version to use).

The only rea

[2019-04-02 12:46] KonstantinRitt opened #167 "project status"
I think we're done with this module.
QtMQTT recently got MQTT 5 support and I think we should combine our efforts by contributing to a "standard" Qt module.
Opinions?

[2019-04-02 14:22] mwallnoefer commented on #157
@ejvr You told us about your intention to deepen this issue. Have you managed to do something?

[2019-04-02 14:36] mwallnoefer commented on #167
@KonstantinRitt + @emqtt/qmqtt-team + @ejvr + others: First of all I share your point of view that it does not make much sense to maintain two independent Qt Mqtt libraries, especially when the former one already got equipped with _Mqtt 5_ support from which we are light years away.

But I guess that there is some little divergence in respect to licensing, in the sense that we have a more liberal

[2019-04-02 16:19] ejvr commented on #167
I agree. Just leave the project as it is now, and do the necessary maintenance (=bug fixes) only.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, April 2, 2019 4:36 PM, Matthias Dieter Wallnöfer <notifications@github.com> wrote:

[2019-04-02 16:20] ejvr commented on #157
I totally forgot about that one, due to the fact that I did not work on any qt-related projects for several months.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, April 2, 2019 4:23 PM, Matthias Dieter Wallnöfer <notifications@github.com> wrote:

[2019-04-02 20:30] KonstantinRitt commented on #167
I think I'm ok with their less liberate commercial + GPL3 licensing model.

MQTT 3 have no future, IMO.

[2019-04-02 20:30] #167 closed

[2019-04-03 08:12] singoo opened #168 "How 同"

[2019-04-03 08:12] #168 closed

[2019-04-03 08:18] singoo opened #169 "How to specify a network adapter"
I used this lab, but I don't know how to specify a network adapter.
There are three network cards on my hardware, RJ45 and 4G.
So I need to specify a network adapter to send and receive messages.

[2019-04-03 11:42] singoo opened #170 "error: expected primary-expression before '[' token"
I have a "error: expected primary-expression before '[' token" in qmqtt_router.cpp.
I am a newbie who doesn't know how to solve this problem.
Please help me.

[2019-04-03 11:43] singoo commented on #170
Base on Qt 5.5.1, and kit is Desktop qt 5.5.1 GCC 32bit

[2019-04-03 17:47] mwallnoefer commented on #169
These are topics which are absolutely not covered by Qt and qmqtt in particular, since they belong to the domain of the underlying OS. You would need to properly configure the IP routes (_route_ command) so that the Mqtt traffic directed to the broker travels correctly.

I would suggest you to ask someone for help if you are not familiar with network configuration stuff in your OS.

[2019-04-03 17:47] #169 closed

[2019-04-03 17:51] mwallnoefer commented on #170
Could it be that you are using a MinGW gcc version which is not yet C++11 enabled?

@KonstantinRitt + @ejvr : What do you think?

[2019-04-03 18:17] ejvr commented on #170
That seems like the most logical explanation. Is this a compiler error in line 52 of qmqtt_router.cpp?

Is so, this file is not part of the core QMQTT module, so you could compile the module without qmqtt_router and qmqtt_routedsubscription.
As far as I know, core QMQTT does not use any c++-11 (or later) features.

This may not be related, but you should also realize then QMQTT only works with QT

[2019-04-04 06:23] singoo commented on #170
Thank you for your help.

[2019-04-04 06:25] #170 closed

[2019-04-08 11:50] tranvinhphuc111996 opened #171 "Build MQTT for android on QT Creator"
I have problem when try to build mqtt on Android. But it work well when i using that problem on desktop of Qt !
Error notified is ":-1: error: Unknown module(s) in QT: mqtt"

[2019-04-08 16:13] ejvr commented on #171
The error you mention usually pops up if by build qmqtt but do not install afterwards. After running 'qmake' and 'make' you should also run 'make install'.

I'm not sure how if an android build requires special actions though.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, April 8, 2019 1:50 PM, Puck <notifications@github.com> wrote:

[2019-04-08 16:27] tranvinhphuc111996 commented on #171
im install step by step in this stackoverflow
https://stackoverflow.com/questions/48701475/qt-creator-adding-mqtt-library

[2019-04-08 17:59] ejvr commented on #171
The article on stackoverflow is not about this library. There are two mqtt implementations for QT. This one (installed as qmqtt) is the oldest.

Last year the QT organization also provided a mqtt implementation (installed as mqtt). The stackoverflow explains how to install the QT implementation, nor ours.

However, it you want to use this library you can follow the same instruction. Of course, the

[2019-04-08 18:14] tranvinhphuc111996 commented on #171
okey thanks for your help, i try to build qmake of armv7 for this library and now have a new problem is "/bin/sh: 1: Syntax error: "(" unexpected"

[2019-04-08 19:46] ejvr commented on #171
Hmm, cross compiling QT. Never did that with QT 5.

I'm sorry, I can't help you there. And it's outside of the scope of this library. Maybe someone of the QT forums can help you.

[2019-04-12 05:42] NingShenTian opened #172 "There are multiple network cards, how to specify the network card to send?"
There are multiple network cards, how to specify the network card to send?

[2019-04-12 17:06] #171 closed

[2019-04-12 17:11] mwallnoefer commented on #172
Hi @NingShenTian, this request is out of scope for qmqtt and the underlying Qt Network library, you will need to configure this at the OS level (please consider issue #169).

[2019-04-12 17:11] #172 closed

[2019-04-14 15:15] NingShenTian commented on #172
I see, thank you.

[2019-04-17 09:09] singoo opened #173 "Ssl compilation failed."
My OS is CentOS release 6.8(Final). Qt version is 5.5.3.
I find a problem that QSslSocket can't pass compilation.
Finally found that the problem is in the pre-compilation.
Unable to find precompiled QT_NO_SSL in qmqtt_ssl_socket.
Compile successfully when #ifndef is changed to #ifdef.
But I don't know why.
So,please give me help.
Thank you very much.

[2019-04-18 08:11] jinrm opened #174 "To every contributor: we'd like to contribute this library to Eclipse Paho project"
Hi there,

EMQ decided to contribute this library to [Eclipse Paho project](https://projects.eclipse.org/projects/iot.paho). According to the Eclipse contribution process, they need to know the contact details for each of the contributors: name, organization, email address and/or phone number, percent of contribution authored.

So, could you please send your contact info to me (jinrm@emqx.io)  at

[2019-04-18 08:19] mwallnoefer commented on #173
@ejvr I think you are the expert here.

[2019-04-18 13:04] audicm2 opened #175 "Impossible to connect host"
Hi, MQTT is new for me, i'm a beginner. So sorry for my question...

I have download "Mosquitto" to have a broker and "Mosquitto_client" to sub and pub.

Now, with qt, i want create an client and connect me to host and publish a message. So i have the qmqtt library.

This is my code :

`
#include <QCoreApplication>
#include <iostream>
#include <qmqtt.h>

int main(int argc, char *argv[])
{
    QCor

[2019-04-18 13:37] mwallnoefer commented on #175
No, this won't work, since the connection state needs to be checked in an asynchronuous callback (signal-slot). Please have a look at our code example https://github.com/emqtt/qmqtt/blob/master/examples/qmqtt/client/example.cpp to understand what needs to be fixed.

If you think that the locally installed Mosquitto broker doesn't work properly I highly suggest you to install some other mqtt client

[2019-04-18 14:25] diegorondini commented on #166
Hi @tomasz3dk . I think the best place for such a recipe would be to contribute it to meta-qt5:
https://github.com/meta-qt5/meta-qt5

[2019-04-18 16:02] audicm2 commented on #175
Hi mwallnoefer,

Ok thanks, it's do work ! But i don't understand all the code.

If i want publish just one message like "Hello", How i do ? i want to understand with something simple.

And how to work connect() function ?

Thanks for your answer !

[2019-04-18 18:06] ejvr commented on #173
I just compiled the latest version of QMQTT with and without ssl support. Both are OK. Also, I can't find any problem in the source code.

Can you post the compiler output including the error message? Maybe that will help.

[2019-04-18 20:52] mwallnoefer commented on #175
You may just consider the _Publisher_ class with the _onConnected()_ handler (raised by the _connected()_ signal) wherein you just call the _publish_ method. That means something like this:
[code]

Then register an _onPublished_ handler where at the end you call _disconnectFromHost()_

[code]

You see everything works asynchronously over Qt's event queue.

[2019-04-19 01:36] singoo commented on #173
error: invalid use of incomplete type 'class QSslSocket'
./qmqtt/src/mqtt/qmqtt_ssl_socket_p.h:46: error: forward declaration of 'class QSslSocket'
![image](https://user-images.githubusercontent.com/29615989/56400472-a2eb9a80-6286-11e9-9c64-61081930f229.png)

[2019-04-19 05:20] ejvr commented on #173
Thanks, apparently something is wrong with the forward declaration of QSslSocket in qmqtt_ssl_socket_p.h (or there is some mess up with QT_USE_NAMESPACE).

I'm not sure this will fix the problem, but can you try to replace `QT_FORWARD_DECLARE_CLASS(QSslSocket)` with `#include <QSslSocket>` in `src/mqtt/qmqtt_ssl_socket_p.h`?

[2019-04-19 06:59] tomasz3dk commented on #166
Hi @diegorondini . Good point :). Thanks. I'm closing this issue.

[2019-04-19 06:59] #166 closed

[2019-04-19 09:04] audicm2 commented on #175
Hi mwallnoefer,

Ok thanks for all, i understand now, in looking for my side also yesterday and with your explications.

Now, i have a last question. If i want create a Web page annd send data with QMQTT, it's possible ? May be with WebSocket ? (I use always the same broker : Mosquitto). But i don't know how to create Web Page et make the connexion with QMQTT.

Thanks for you answer !

[2019-04-19 09:24] mwallnoefer commented on #175
The assumption that WebSockets would be the right decision if you develop a web-based mqtt client is correct, since then you generally make use of the ports 80 and 8080 which in the major part of the cases are not blocked by firewalls. This in contrast to the mqtt(s) protocol which works on port 1883 and therefore requires explicit permission rules, especially in company networks.

qmqtt understan

[2019-04-19 09:33] singoo commented on #173
I should thank you more because you are helping me solve problems that I can't solve.
I did what you said.But did not solve the problem.
Please see the two pictures below.
I am wondering exactly where the macro definition is not in effect.
I am also confused.

![image](https://user-images.githubusercontent.com/29615989/56418060-6e98ce00-62c8-11e9-86c7-afdec22b8435.png)
![image](https://user-images

[2019-04-19 09:36] singoo commented on #173
Sorry. This is the result of the revision according to your instructions.

![image](https://user-images.githubusercontent.com/29615989/56418495-a5231880-62c9-11e9-80c0-9081ca1576f3.png)

[2019-04-19 09:44] audicm2 commented on #175
Ok i understand.

So it's possible to create a client qmqtt to publish to mosquitto and an client MQTT.js to retrieve data send by qmqqt and send this data to a Web Page ?

Thanks for your answer !

[2019-04-19 09:50] mwallnoefer commented on #175
yes.

[2019-04-19 09:50] #175 closed

[2019-04-19 16:00] ejvr commented on #173
This is very strange. It seems that when compiling the value of `QT_NO_SSL` somehow changes. That should not be possible. Can you try to compile qmqtt on the command line? That would exclude problems with QT creator.

So in a shell go to the qmqtt directory and run
`mkdir build`
`cd build`
`qmake ..`
`make`
`make install`

(if you get an error when running qmake you probably need to use the full p

[2019-04-23 08:10] audicm2 opened #176 "Example publisher Websocket ?"
Hi,

I try to make a client publisher websocket but i have a little trouble... it's possible to find a example for websocket ? Or help me ?

[code]

And it's impossible to include the WebSocket Lib, it's grayed out..

see here : [http://zupimages.net/viewer.php?id=19/17/07pd.png]

thanks for your answer !

[2019-04-23 08:56] audicm2 commented on #176
And it's impossible to include the WebSocket Lib, it's grayed out..

[2019-04-23 09:28] mwallnoefer commented on #176
I think this lies in the domain of @KonstantinRitt which contributed the WebSockets support...

[2019-04-23 09:38] KonstantinRitt commented on #176
Nope, that wasn't me)

One have to build qmqtt with websockets enabled, then also add

to the client's qmake project

see https://doc.qt.io/qt-5/qtwebsockets-examples.html for more examples

[2019-04-23 09:42] mwallnoefer commented on #176
Ah sorry, it was @ejvr :).

[2019-04-23 09:46] audicm2 commented on #176
Hi,

I have add

[code]

but

[code]

is always grayed out.

except if it's not QT_WEBSOCKETS_LIB with mqtt but qtwebsockets with qt ?

Thanks for your answer.

[2019-04-23 11:55] audicm2 commented on #176
The same, in qmqtt project, qmqtt_websocket.cpp and qmqtt_websocketiodevice.cpp is grayed out

[2019-04-23 15:52] ejvr commented on #176
Can you try to create a fresh clone of qmqtt and run this:
`qmake CONFIG+=QMQTT_WEBSOCKETS ..`
Note: no spaces around '+='.

That's how qmqtt is intended to be build. This will compile the qmqtt module and the example. You can modify the client example to use the QMQTT::Client constructor for websockets.

[2019-04-23 17:58] mwallnoefer commented on #157
Fixed.

[2019-04-23 17:58] #157 closed

[2019-05-02 08:53] mwallnoefer commented on #173
Any news here, otherwise we mark it as resolved?

[2019-05-02 09:07] singoo commented on #173
Yep, I'll solve by myself.
Thanks everybody.

[2019-05-02 09:07] #173 closed

[2019-05-14 02:30] jinrm commented on #174
Hi @KonstantinRitt @wuming123057 @avsdev-cw @Psy-Kai @cncap @gbour @sbradford26 @ehntoo,

Could you please kindly reply to me with your information?  And the most important is to let me know if you agree this contribution? We need these information to continue the transition process.

Many thanks!
May (jinrm@emqx.io)

[2019-05-16 15:31] buelowp opened #178 "Using with cmake and Qt5"
I have been using this with qmake and it works well. However, I have a cmake C++ Qt5 based project which caused me some issues. Using the following almost works, but needs a change to fix completely.
[code]

However, it needs to find the libary libQt5qmqtt.so.1.0.0, which isn't installed by the qmqtt build system. At least on ubuntu, the find cmake module searches for the prefix Qt5 for all librar

[2019-05-17 13:37] mwallnoefer commented on #178
@Psy-Kai @KonstantinRitt Any idea?

[2019-05-24 17:47] KonstantinRitt commented on #174
+1 from me

[2019-06-01 16:25] #176 closed

[2019-06-01 16:26] mwallnoefer commented on #178
@ejvr Do you have any idea? I am not so comfortable with the build.

[2019-06-02 10:33] ejvr commented on #178
I'm not an expert of qmake either, but it seems that the cmake files generated by the build refer to the qmqtt library as libQt5qmqtt.so.*. However, the library itself has is called libqmqtt.so.*.

We can fix this with 2 changes:
* Change the target name in src/mqtt/qmqtt.pro from qmqtt to QtQmqtt
* Apply the same change in sync.profile.

That appears to fix the problem, at least on my debian syst

[2019-06-02 11:35] buelowp commented on #178
I'd be happy to test this, do you have a patch or branch?

[2019-06-02 13:00] ejvr commented on #178
Just created a branch. You can find it [here](https://github.com/ejvr/qmqtt/tree/emqtt).

[2019-06-05 01:51] buelowp commented on #178
Thank you, that built and installed on both X86 and arm architectures. I can now link using cmake with the following

[code]

Thank you.

[2019-06-12 17:35] Stimaleger opened #179 "SSL / TLS Android can't connect"
I can't get work qmqtt library using TLS SSL on android target ...

Code :
[code]

Log :
[code]

My keys and certifcates are good because I get it works using python

[2019-06-12 18:06] ejvr commented on #179
QMQTT does not do anything special with SSL. It just reads and write from/to the socket, just like the unencrypted socket.

Could you try to remove QMQTT::client temporarily from your code, and replace it with a QSslSocket? My guess is that is will give you the same errors when you try to connect to the broker.

I have never used QT+SSL+android, but it seems that linking the right version of opens

[2019-06-13 09:15] Stimaleger commented on #179
Can't make it works ... with QSslSockets
Can't imagine no body did this before ^^'

[2019-06-13 14:10] mwallnoefer commented on #179
Okay, in a nutshell:

1. Does your code work on some **other** platform beside Android? (e.g. Windows, Linux, Mac)
2. If yes we need to check the _QSslSocket_ support on Android as @ejvr stated.
I suggest you to test the official Qt SSL examples listed here: https://doc.qt.io/qt-5/examples-network.html (the _"Secure Socket Client Example"_ should do)

[2019-06-13 15:42] ejvr commented on #179
Some more hints:
3. Check the port number you are using (default for MQTT over SSL in 8883 not 1883)
4. Make sure you use a hostname when connecting not a url (so mqtt://www.example.com won't work, use www.example.com instead).

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, June 13, 2019 4:10 PM, Matthias Dieter Wallnöfer <notifications@github.com> wrote:

[2019-06-25 12:12] joede opened #180 "Add customizable installation directory"
It would be great if qmqtt would allow a customizable installation directory. Using `/usr/...` instead of `/usr/local/...` or `$HOME/.local/...` (XDG like) isn't the best solution.

I've tried to add some `target.path` entries to the `.pro` files, but not all files are "redirected".

So, if you know a solution, please add it to the README or make it the default.

[2019-06-27 19:13] ejvr commented on #180
I guess there is no easy solution to this problem. Some time ago the qmake files were adapted to the format used by regular QT modules. That's why they really want to be installed in the same directories as the official QT files (/usr/... on most linux systems).

I can see this is not always desirable, because those directories are the domain of the pacakge manager. One way of fixing this is to cr

[2019-08-12 13:57] Psy-Kai opened #182 "Cannot move QMQTT::Client into another thread"
Since all objects are created without passing a parent the `QMQTT::Client` object cannot be passed into an other thread. Passing `this` on creation of internal QObjects should fix this problem.

[2019-08-28 12:07] mwallnoefer commented on #174
Hi @jinrm,

in the meantime there were raised some issues and there have also been opened pull requests which I cannot address any longer since the team membership (https://github.com/orgs/emqtt/teams/qmqtt-team) seems to have been invalidated.

Who takes care of the maintenance of this library?

[2019-09-10 10:16] SirHeisenberg opened #184 "Client buffer stops working"
I have a problem with the client's "buffer".

When it loses connection with the broker and you try to  publish messages offline it does store them and publishes them when the connection is back.

It works for the first 2 or 3 times that it loses connection but after that it just stops storing messages.

[2019-09-10 10:37] ejvr commented on #184
Which QOS level are you using for the connection?

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 10, 2019, 12:16, SirHeisenberg wrote:

[2019-09-10 10:57] SirHeisenberg commented on #184
I'm trying with QoS 1 and 2, I have the same issue using both of them.

[2019-09-10 16:56] ejvr commented on #184
Just check the code: the client never queues messages when there's no connection with the broker.

This feature is simply not implemented.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, September 10, 2019 12:57 PM, SirHeisenberg <notifications@github.com> wrote:

[2019-09-11 05:45] SirHeisenberg commented on #184
Well that's weird. I thought it had it implemented since when you lose connection with the broker, before it disconnects (within the keepAliveInterval), sometimes it stores the messages that you tried to send and publish them back when the connection is restored.

This happens **_sometimes_** before being disconnected due to the keepAliveInterval.

So if I disconnect my client from the network _(d

[2019-09-11 15:33] ejvr commented on #184
I have double checked the code. What happens is this:  when you call the publish function in the Client class, the data is written directly to the underlying socket, if is has the 'connected' state. If it is not connected the data will be dropped. We do not keep a list of messages that should be sent later in case the initial write fails.

In your case, this could happen (warning: I'm not an exper

[2019-09-12 03:08] tigercl commented on #174
@mwallnoefer Sorry for later reply, could you join the project again via https://github.com/emqx/qmqtt/invitations, thanks for your efforts!

[2019-09-12 10:31] SirHeisenberg opened #185 "Error: QSslSocket::connectToHostEncrypted() called when already connecting/connected on Raspberry Pi"
Hi,

I'm trying to run the client on a Raspberry Pi but I'm having the following errors:

**On the Raspberry console:**
`root@raspberrypi:/home/pi/Desktop/ejemplo_sin_interfaz_ssl# ./ejemplo_sin_interfaz`
`ERROR:  22`
`ERROR:  21`
`qt.network.ssl: QSslSocket::connectToHostEncrypted() called when already connecting/connected`
`ERROR:  2`
`DESCONECTADO`
`Hora de desconexión:  "jue. sept. 12 12:07:52

[2019-09-12 11:00] #185 closed, assigned to nobody

[2019-09-15 11:58] ejvr commented on #178
Just created a pull request. Note that I changed the qmake configuration only.

[2019-09-16 16:10] #178 closed

[2019-09-16 16:24] buelowp commented on #178
Thanks everyone.

[2019-09-18 12:00] SirHeisenberg opened #187 "Client triggering disconnected signal only after recovering connection"
Hello!

I'd like to report what I think it's a bug. Maybe it's because I'm missing something though.

When my client loses connection itself (client loses connection within the network) it doesn't trigger the `disconnected()` signal until it recovers connection again.

If it's the broker the one who loses connection the client triggers the `disconnected()` signal instantly, but as I mentioned befo

[2019-09-19 07:54] mwallnoefer commented on #187
From my point of view `disconnected()` should only be triggered when a disconnect operation has been requested explicitly (`socket->disconnectFromHost()`).
Otherwise you have the possibility to handle this in the `socketError()`?

[2019-09-19 08:09] SirHeisenberg commented on #187
What class does `onSocketError()` belong to and which signal would trigger it?

[2019-09-23 13:29] ncg81 opened #188 "MQTT v5 request/reply pattern"
Hello you guys.

Thank you for writing a Qt native client for EMQX.

To my knowledge the **EMQX Broker** supports **MQTT v5**  which in turn supports the **request/reply** pattern. However, by quickly glancing at **qmqtt**'s method signatures, it appears that this client does not handle **request/reply** scenarios. I was expecting to find a slot like:

`quint16 request(const QString& requestTopic,

[2019-09-23 16:12] ncg81 opened #189 "Support load balancing through the client AKA multiple EMQX server list"
Rationale:

LBs  are a common server hosting solution. The lack of clustering support in this client suggests that the developers expect EMQX clusters to be deployed behind some sort of load balancer.

However, you wouldn't believe the weird LB offerings some hosting providers offer. For example, they would support a unique setup, say a LB @ 100 Mbps when their lowest instance (EMQX node) bandwidt

[2019-09-24 14:46] mwallnoefer commented on #187
The socket errors are forwarded to the `error` signal of the class `Client`. Look at the `ClientError` enum for a complete enumeration of all values: https://github.com/emqx/qmqtt/blob/master/src/mqtt/qmqtt_client.h.

[2019-09-24 14:51] mwallnoefer commented on #188
Nope, the decision was to maintain **qmqtt** with the current feature set to support Mqtt release 3.1.1. All new features should be proposed to Qt's integrated mqtt library: https://doc.qt.io/QtMQTT/index.html.

[2019-09-24 14:51] #188 closed

[2019-09-24 15:07] mwallnoefer commented on #189
What regards to new features in respect to mqtt 5 please consider issue #188 .

In respect to load balancing I guess that this is not something easy to add since it would require some restructuring. Since qmqtt was moved to maintenance mode by decision of the developer team we won't provide new functionality. If you still would like to propose us some patch we can have a discussion on it but witho

[2019-09-24 15:07] #189 closed

[2019-09-24 15:37] SirHeisenberg commented on #187
I have the same problem, the error signal doesn't get triggered until I recover connection.

So when the client recovers connection it trigger both signals: `error` and `disconnected`.

[2019-09-24 18:21] mwallnoefer commented on #187
Okay, so let us ask someone else: @ejvr, @KonstantinRitt any idea what the reason could be?

@SirHeisenberg Have you tried also with a different client OS? Not that this issue is pertinent to the underlying socket API?

[2019-09-24 18:31] SirHeisenberg commented on #187
@mwallnoefer I tried it in a Raspberry Pi and in a machine with Ubuntu, both have the same issue

[2019-09-26 18:56] mwallnoefer commented on #187
Yes, but these are both Linux and hence will behave similarly. Here it would be interesting to reproduce on an alternative system like MacOSX, iOS, Android or also Windows since this could perfectly be a bug in Qt (= a misinterpretation of the OS' socket API semantics).

[2019-09-29 14:08] ejvr commented on #187
It seems to be a Linux specific thing. To test this I modified the example application to log disconnect and error signals, and enable the auto reconnect.

On windows 10 you see an error message and a disconnect in less than one second after disconnect (I pulled out my network cable from the client system to force disconnection).

Trying the same thing on my Linux system (a beaglebone block runnin

[2019-09-29 14:48] mwallnoefer commented on #187
Thanks for the reproduction, @ejvr.

So yes this seems to be a Qt - GNU/Linux-specific issue, look at:
https://bugreports.qt.io/browse/QTBUG-16688

Also interesting (more to Windows):
https://bugreports.qt.io/browse/QTBUG-24451
https://bugreports.qt.io/browse/QTBUG-39518

Maybe Qt 6 will handle this better?
https://bugreports.qt.io/browse/QTBUG-75638

[2019-09-30 15:28] ejvr commented on #187
Hmm, the fact that my SSH session was not disconnected either when the network cable is unplugged suggests that this is not a QT issue, but a Linux 'feature'.

We could check what happens if the network connection is closed in software (eg. using ifdown). I guess that the operating system will immediately close any related sockets.

[2019-11-05 08:29] SirHeisenberg opened #190 "Error using SSL connection"
Hello, I've been struggling with SSL connection, can't make it work.

This is my code:

      QFile certFile ("/home/yeray/Escritorio/QT_Proyectos/cliente_qt/omron_fins_2/caaa.crt");
      QFile keyFile ("/home/yeray/Escritorio/QT_Proyectos/cliente_qt/omron_fins_2/caaa.key");

      certFile.open (QIODevice::ReadOnly);
      keyFile.open (QIODevice::ReadOnly);

      QSslCertificate certificate (&

[2019-11-05 13:12] mwallnoefer commented on #190
Reassigning to @ejvr, our SSL expert.

[2019-11-07 19:06] ejvr commented on #190
Hmm, SSL export is a bit over the top I fear. Anyway, I know that certificates are usually tied to a hostname and won't work if you use its IP address instead when connecting. That may be the case here.

[2019-11-08 06:32] SirHeisenberg commented on #190
@ejvr so how could I connect using both, a certificate and an IP, since the IP is mandatory?

[2019-11-08 13:22] mwallnoefer commented on #190
I guess this is not possible within TLS/SSL, you are always required to use the hostname respectively DNS address. In case you have no DNS infrastructure in place try to add an appropriate _/etc/hosts_ entry, I think it should do.

[2019-11-09 10:16] ejvr commented on #190
During creation of  CA-certificate you have to specify a host name. You should use that host name instead of the IP address when creating the client.

[2019-11-18 04:10] inobelar opened #191 "WebAssembly (WASM) + WebSockets support"
**TL;DR**: `qmqtt` does not compiles for `WASM` with `WebSockets` support, **but this can be easily fixed** by excluding `SSL`-related methods (in [qmqtt_websocket.cpp](https://github.com/emqx/qmqtt/blob/master/src/mqtt/qmqtt_websocket.cpp)) - because `SSL` currently [not supported for WASM](https://forum.qt.io/topic/106620/qt-for-webassembly-do-not-support-ssl).

Strictly speaking, this not an "i

[2019-11-18 15:03] mwallnoefer commented on #191
@ejvr Please check this!

[2019-11-18 19:00] ejvr commented on #191
The issue here is that websocket support was developed assuming that SSL support would always be available. Apparently that's not always true.

I made some changes to the library to make it compile with websocket support but without SSL support (with `QT_WEBSOCKETS_LIB` set and `QT_NO_SSL` not set). Judging from the compiler errors in the comment that should do the trick. Right now, I do not have

[2019-11-18 21:41] inobelar commented on #191
@ejvr Thanks for the quick response! I will try to test your branch as soon as possible, and I’ve already reviewed your changes.

Unfortunately, it will take me some time - to get acquainted with the use of `CMake` and `Qt+WASM`, because I have never encountered such a thing (sad but true :C) I see that you added the `${PROJECT_NAME}_SSL` option to `CMakeLists.txt`, which can hardly be repeated wh

[2019-11-19 11:57] ejvr commented on #191
You can ignore the changes in the cmake file. Problem is that my knowledge about qmake is somewhat limited. What haopens if you compile the code using qmake as you did before? As far as I know, qmake will take care of the compiler definitions like QT_NO_SSL if the underlying feature is not supported.

-------- Original Message --------
On Nov 18, 2019, 22:41, Yurii Nakonechnyi wrote:

[2019-11-19 14:55] inobelar commented on #191
@ejvr I just cloned your branch, compiled and checked the work of my test-browser-app - everything compiles and works! :)

I did not use `CMake`, but `qmake` from the compiled Qt, and compiled the project as follows:
[code]
Also [here](https://www.qt.io/blog/2018/11/19/getting-started-qt-webassembly) and [here](https://forum.qt.io/topic/106515/cmake-project-builds-target-webassembly/7) it says tha

[2019-11-19 19:19] ejvr commented on #191
I'm not completely sure about the error messages you get when compiling with wasm. As far as I understand, the `QT_NO_SSL` macro is defined by qmake if qt was compiled without ssl support.

Either `QT_NO_SSL` is defined when compiling: in that case `qmqtt_ssl_socket.cpp` will be compiled, but without errors, because all code is skipped due to the `#ifndef QT_NO_SSL` at the start of the file.

Else

[2019-11-19 20:28] inobelar commented on #191
@ejvr I just built your branch with updates - everything still ok, even better :)

I started building with only one flag: `QMQTT_WEBSOCKETS` (without new `QMQTT_NO_SSL`). There were compilation errors in `qmqtt_ssl_socket.cpp` again (the same as the text sheet in issue), even if all code wrapped by `#ifndef QT_NO_SSL`. I agree, this looks very strange. **BUT**, when i swapped ordering:

from
[code

[2019-11-20 16:37] ejvr commented on #191
Thanks @inobelar . So let's wrap this up. I have removed the QT_NO_SSL part from the qmake config, and swapped the #include with the #define. Why the latter works is a bit of a mystery to me, but it cannot do any harm either.

Finally, the readme was adjusted as well. But only with a single line indicating that wasm is supported now. If I'm not mistaken the build for wasm only need the QMQTT_WEBSO

[2019-11-20 18:24] mwallnoefer commented on #191
@ejvr Thanks as always for your high-quality pull requests which I can merge seamlessly.

Regarding marketing, I wanna say that I am not the marketing guy but rather a volunteer which helps to coordinate the bug reporters and the experts.

The democratic decision taken together with eqmx was that _qmqtt_ should be moved into maintenance (so no mqtt protocol changes etc.) and pretty all new develop

[2019-11-20 18:33] ejvr commented on #191
Find with me.

I hope this change counts as small maintenance.

From: Matthias Dieter Wallnöfer <notifications@github.com>
Sent: Wednesday, 20 November, 2019 19:24
To: emqx/qmqtt <qmqtt@noreply.github.com>
Cc: ejvr <ernst.de.vries@protonmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [emqx/qmqtt] WebAssembly (WASM) + WebSockets support (#191)

[@ejvr](https://github.com/ejvr) Thanks a

[2019-11-20 18:55] #190 closed

[2019-11-21 10:06] inobelar commented on #191
I cloned the current master branch (with merged changes), and confirm that everything works well :)

[2019-11-21 10:51] #191 closed

[2019-12-06 19:16] sergey-sukiyazov opened #193 "Small improvement in handling SSL errors"
Hi!

I faced with the problem on attempt to connect to mosquitto broker via SSL. It happens because Qt < 5.13 has a bug with populating of IP addresses in Subject "Alternative Name" in a Certificates, see [this](https://forum.qt.io/topic/96458/qsslsocket-the-field-ip-address-is-not-considered-in-subject-alternative-name-in-a-certificate) and [this](https://bugreports.qt.io/browse/QTBUG-71828). So,

[2019-12-07 10:27] mwallnoefer commented on #193
@ejvr Please review the patch!

@sergey-sukiyazov Could you open us a pull request, so we may merge it from the GitHub frontend?

[2019-12-07 13:04] ejvr commented on #193
The patch is looking good. In my opinion, you throw away most of the security SSL can offer if you use the `VerifyNone` option, so I would not advice anyone to use it. One problem though: the documentation of states that `QSslSocket::ignoreSslErrors()` should be called to ignore errors during the socket's handshake. The example provided for `QSslSocket::ignoreSslErrors(const QList<QSslError> &erro

[2019-12-07 13:52] mwallnoefer commented on #193
Good idea, @ejvr. I agree with an API extension to avoid repetitive patching, often also for little benefit in very special cases.

[2019-12-09 06:53] sergey-sukiyazov commented on #193
Hi everybody!

Agree that this idea is much better than what i suggested (I thought about this aloso, but decided to not do changes in the clasess specs). Thanks!

[2019-12-09 08:51] sergey-sukiyazov commented on #193
@ejvr
I would be good if you also add the method into `QMQTT::Client` which will return `QSslConfiguration` which is used for SSL connections, like
[code]

[2019-12-09 15:56] mwallnoefer commented on #193
I have merged @ejvr's patch proposal.

Please tell me what to do in regard of `sslConfiguration()`.

[2019-12-09 16:29] ejvr commented on #193
@mwallnoefer I can implement the changr and create a new pull request.

[2019-12-09 18:33] mwallnoefer commented on #193
Okay, thanks @ejvr for the patches!

[2019-12-09 18:33] #193 closed

[2020-01-11 15:36] mwallnoefer commented on #174
@tigercl Please add me to the _qmqtt-client_ project too. A quick check revealed that also there I am unable to manage issues, code etc.

[2020-01-27 19:23] ehntoo commented on #174
Hi @jinrm, from what I can tell my only contribution to the project was removing some unnecessary semicolons in https://github.com/emqx/qmqtt/commit/e4b0c0471852a606573cce2b6b273f83b4589625 . I do not view this as a copyrightable change, but please consider it released under whatever terms you need it to be.

[2020-03-11 03:47] 975150313 opened #196 "Reconnection collapse!!!"
When I get the "disconnected" signal, The program crashed

[2020-03-11 03:49] 975150313 commented on #196
When I get the "disconnected" signal, and And when I call "qmqttclient:: connecttohost()",The program crashed,QT can not capture any error information

[2020-03-11 03:50] 975150313 commented on #196
`void NetWork::disconnected()
{

    try
    {
        qDebug()<<"mqtt disconnected ";
        if(nullptr != this->mqtt && false ==isExit )
        {
            qDebug()<<"disconnectFromHost ";
            if (mqtt->state() == QMqttClient::Disconnected)
            {
                qDebug()<<"====QMqttClient::Disconnected===";
                mqtt->connectToHost();
            } else {

[2020-03-11 18:37] ejvr commented on #196
I could not reproduce this problem with the example application in this project. Connecting to the `disconnected` signal and calling connectToHost() worked as expected. Like this:
`QObject::connect(&publisher, &QMQTT::Client::disconnected, [&] { publisher.connectToHost(); });`

So the question is: why is your application different. Can you tell us what OS you are running and which QT version? Also

[2020-03-14 00:46] 975150313 commented on #196
I use qt5.10 development, the way to disconnect is to stop the proxy server,I went to the QT community and found an alternative. I used qtmer to send a reconnect signal, connecttohost, to solve this problem. I don't think this is a good solution, because I used an extra timer, but I don't know why

[2020-03-14 08:51] mwallnoefer commented on #196
Did you get some error message respectively stack trace [your example contains some `try/catch` clauses]?
Other possibility: have you tested your C++ code under a linter or memory detector like valgrind? You could have some subtle memory problem...

[2020-03-15 13:28] ejvr commented on #196
I agree with @mwallnoefer. Solving this problem requires a stack trace or steps to reproduce.

With regard to your solution: QMQTT already has an auto reconnect feature, so you do not need an extra timer to do this. You need to call setAutoReconnect and setAutoReconnectInterval before connecting to enable this. Also, calling connectToHost immediately after a disconnect is unlikely to do the job: u

[2020-03-16 02:37] 975150313 commented on #196
Thank you for your help, I think I already know，You've helped me a lot，I read the content in the source code.It uses qtimer to realize disconnection and reconnection

[2020-03-16 02:37] #196 closed

[2020-03-19 19:32] gfleck opened #197 "Compilation error with QT_NO_SSL defined"
I'm trying to compile with QT_NO_SSL defined on my qtnetwork-config.h but an error occurs.

My qtnetwork-config.h is like this:

[code]

The compilation error is:

Does anyone have any idea what it might be?

Thanks.

[2020-03-20 05:25] ejvr commented on #197
It looks like you are working with the QtQmqtt module, which is part on QT itself. This is a different library doing the same thing.
So you might want to post your question elsewhere.

-------- Original Message --------
On Mar 19, 2020, 20:32, gfleck wrote:

[2020-03-20 07:40] gfleck commented on #197
Hi @ejvr,

I am not using any other module, I'm using the source code of this repository.

The target name is QtQmqtt and you can check it here: https://github.com/emqx/qmqtt/blob/master/src/mqtt/qmqtt.pro#L1

[2020-03-20 09:17] mwallnoefer commented on #197
[code]
But this is not a header of our library, so no idea how this one gets included when SSL has been disabled :thinking: .

[2020-03-20 10:18] gfleck commented on #197
Hi @mwallnoefer

`qdtls.h` is a qt standard library.

[2020-03-20 18:23] ejvr commented on #197
@gfleck You're completely right. I'm used to using cmake instead of qmake, so I was unaware of the `QtQmqtt` header. It is generated by qmake build process. That header includes `QtQmqtt/QtQmqttDepends` which in turn includes `QNetwork/QNetwork` which is part of QT. This one includes many other QT headers within the QNetwork module. Some of them are SSL related like `qsslconfiguration.h`, but ther

[2020-04-06 17:02] gbour commented on #174
Hi @jinrm, sorry for the delay.
I totally agree this contribution, and I just sent you my contact infors

[2020-04-24 08:10] dhoegerl opened #198 "SSL connection to different hostname than "issued-to" in the broker certificate"
Hello guys!

We've observed, that the qmqtt library can only connect to a broker using SSL, if the used hostname is identical to the hostname, specified in the server certificate on broker side. This can be verified easily by running a local mosquitto with a certificate issued to some computer name, e.g. "my-pc". If we connect to the local mosquitto using "localhost" or "127.0.0.1" the qmqtt libra

[2020-04-24 09:04] mwallnoefer commented on #198
@KonstantinRitt What do you think?

[2020-04-24 10:12] KonstantinRitt commented on #198
See QMQTT::SslSocket::connectToHost: the QSslSocket's connectToHostEncrypted() overload could take the ssl peername other than the hostname to connect to.

[2020-04-24 13:17] dhoegerl commented on #198
What does this mean for the user of the QMQTT library like us? We simply call connectToHost() on the client object. Obviously, proven by tests with different brokers, we currently have to pass the hostname to the connectToHost() call that is also written in the server certificate on the broker.

[2020-04-28 09:41] mwallnoefer commented on #198
I am not the expert in qmqtt's SSL part but I think @KonstantinRitt wanted to say that you have to use the following client constructor:
[code]
There you will need to pass a `QSslConfiguration` configuration object where you set the option _SSL peername_ most probably to _localhost_. Please have a look at the Qt documentation for the details, it should be explained there.

[2020-04-28 10:54] dhoegerl commented on #198
We already use this client constructor for SSL connection. However, in the [QSslConfiguration](https://doc.qt.io/qt-5/qsslconfiguration.html) object I cannot find a _peername_ property - I only find it in the QWebSocket class. Can you give me another hint, so I can give it a try?

[2020-04-28 12:49] mwallnoefer commented on #198
Unfortunately you are right, this property may only be set at connection time on the _QSslSocket_ s _connectToHostEncrypted_ method (https://doc.qt.io/qt-5/qsslsocket.html#connectToHostEncrypted-1).

So yes, there would be some patching required, the first part in https://github.com/emqx/qmqtt/blob/master/src/mqtt/qmqtt_ssl_socket.cpp to add a new _connectToHost()_ method with the new overload, bu

[2020-04-29 08:07] dhoegerl commented on #198
After your hints I played around a bit and there seems to be an easier solution:
`QSslConfiguration::setPeerVerifyMode(QSslSocket::VerifyNone)`

This makes it work like other clients and avoids the _peername_ verification.

[2020-04-29 08:07] #198 closed

[2020-05-03 02:36] viettq1991 commented on #150
It's work, thank you :)

[2020-05-13 02:14] hya1711 opened #199 "connect to server success,then call connectionState interface,the return value is STATE_INIT."
connect to server success,then call connectionState interface,the return value is STATE_INIT.

[2020-05-13 06:37] ejvr commented on #199
A quick glance at the code shows that the connection state is a member of ClientPrivate which initializes it to STATE_INIT, and never changes it again.

So as far as I can see the property is useless right now.

[2020-05-13 12:42] #197 closed

[2020-05-13 13:00] mwallnoefer commented on #199
Correct, fortunately it was not that hard to fix it :laughing: : 50382ef96fadbfddb48fb177fbf32b6382b1509e

[2020-05-13 13:00] #199 closed

[2020-06-08 02:36] BarleyXu opened #201 "Compile error with Qt5.7 on CentOS7 platform"
When I compile the program with qt5.7. Some errors occured such as follow:

.moc/moc_qmqtt_ssl_socket_p.cpp:55:6: error: ‘QMQTT’ has not been declared
 void QMQTT::SslSocket::qt_static_metacall(QObject *_o, QMetaObject::Call _c, int _id, void **_a)

[2020-06-11 13:35] mwallnoefer commented on #201
Hi BarleyXu,

you should provide us with a more complete build log, if possible containing also the build config variables. Otherwise we are not able to help you...

[2020-06-21 07:34] #201 closed

[2020-07-09 09:09] czqinyes opened #202 "How to use domain name connection"
OK：
QMQTT::Client *client = new QMQTT::Client();
QHostAddress host(‘127.0.0.1’);
client->setHost(host);
client->setPort(1883);
client->setClientId("clientId");
client->setUsername("user");
client->setPassword("password");
client->connectToHost();

Error:
QMQTT::Client *client = new QMQTT::Client();
QHostAddress host(‘www.test.com’);
client->setHost(host);
client->setPort(1883);
client->setClientId

[2020-07-09 09:13] mwallnoefer commented on #202
Please refer to the Qt documentation, this is out of our scope: https://doc.qt.io/qt-5/qhostaddress.html. This is the helper class to do DNS lookups: https://doc.qt.io/qt-5/qhostinfo.html

[2020-07-09 09:13] #202 closed

[2020-07-09 15:00] ejvr commented on #202
QHostAddress is a wrapper around an IP-address it does not do DNS lookups.

If you want to use a hostname to connect, you should use one of the client constructors that receive a hostName QString.

[2020-07-14 05:50] wanghaEMQ opened #203 "throw an error "QMQTT has not been declared" when build the .obj/moc_qmqtt_ssl_socket_p.o"
The command and the error are as below:
[code]

[2020-07-14 07:13] mwallnoefer commented on #203
I think you should post the generated *.moc/moc_qmqtt_ssl_socket_p.cpp* file.

[2020-07-14 07:18] mwallnoefer commented on #203
I have missed that: you claim that PR #204 also fixes this one? I am a bit puzzled but maybe you could provide us with a compelling reason why you think so...
(don't get me wrong: PR #204 is fine, I have merged it before).

[2020-07-14 09:00] wanghaEMQ commented on #203
I am so sorry, the reason I added this issue is for the convenience of those who also have this error.

[2020-07-14 09:35] wanghaEMQ commented on #203
.moc/moc_qmqtt_ssl_socket_p.cpp

[code]

[2020-07-14 12:50] pabloleibo opened #205 "Newbie Installation"
Hi, I'm trying to compile this code to use it in my application. I'm a newbie with Qt, and I can't achieve this goal.
I downloaded the entire repository and open the top level qmqtt.pro.
When I open it, I select MinGW for 32 and 64 bits as compilers, and then build the project.
The first problem is that the examples folder doesn't compile. Qt throws an error saying that qmqtt is not found as a mod

[2020-07-14 16:21] mwallnoefer commented on #205
According to the bug description you are working on Windows (*"MinGW"*) which is a bit special what regards to Qt modules. I used to work with *qmqtt* on Windows but that was some years ago, where it still was a plain Qt library (DLL) and not a module.

Let's ask @ejvr or @KonstantinRitt, maybe they're more expert here...

[2020-07-14 16:44] mwallnoefer commented on #203
I have compared the file contents with the version generated by Qt 5.9 moc on my PC and the differences are negligible. So it should be OK.

When I am looking at the build output I see that you are using a *really* ancient compiler which was NOT even 100% C++11-compliant: *arm-linux-gnueabihf-g++-4.8* = GCC 4.8 for ARMv7 as cross compiler.
So I warmly encourage you to update GCC to at least releas

[2020-07-14 21:13] KonstantinRitt commented on #205
in you .pro file:
CONFIG += qmqtt # (or how the module is named these days?)

[2020-07-15 00:05] pabloleibo commented on #205
Hi! thanks for your response!
Yes, I included it after building the source code of this repo and installing it. The matter is that including qmqtt in config doesn't work. The QMQTT class is not recognized.
Which .h file has to be included? Because the qmqtt.h file of src folder requires others headers files?

[2020-07-15 17:42] mwallnoefer commented on #203
@ejvr or @KonstantinRitt: Would you like to add something here?

[2020-07-20 11:02] ejvr commented on #205
If you have build the qmqtt you should install it first before trying to build code that uses it. In QT creation you can do that with Build -> Deploy Project. This step should copy the headers files to your QT installation directory (iirc, they will be put inside a qmqtt or mqtt folder there). It will also copy the library files.
If you have performed the deployment step, you could check if the qm

[2020-07-25 08:45] #203 closed

[2020-09-01 08:20] IvanBelyakoff opened #206 "Support for request/response as in MQTT v5?"
Hi guys, is there any support for it, maybe undocumented?

I don't see currently from the code how I can do that, only implement publishing/subscription to particular topics by hand.

[2020-09-02 11:43] #205 closed

[2020-09-02 11:49] mwallnoefer commented on #206
_eqmqtt_ is in maintenance phase only and will not be extended with new features. This is a duplicate of issue #188, so please have a look there.

[2020-09-02 11:49] #206 closed

[2020-10-09 10:25] Trikos opened #210 "Can't compile"
Hi, Im trying to use your library but I cant compile. Can you help me?
I tried to download the source code and using include(path/to/.pri) into my project without doing nothing and QT said unknown qmqtt module found. I tried to open the qmqtt-master/src/qmqtt.pro and compile for winx64 and I get some error during compilation (I set CONFIG += QMQTT_NO_SSL; CONFIG += NO_UNIT_TESTS)
What can I do in

[2020-10-10 12:04] ejvr commented on #210
Using the .pri file is not going to work. At best it will compile the QMQTT source and give you a bunch of errros regarding dll linkage (when compiling for windows).

The usual way to compile is to use qmqtt.pro in the root of the repo. You need to have perl installed to do this. After compilation deploy the project. It should install within your QT distribution. When this is done you should be ab

[2020-10-10 22:38] Trikos commented on #210
Wow. I installed PEARL, then open the root .pro file. Select Win64x, compiled and deployed. No error at all. No the debug folder has been created.
I opened my project I put qmqtt in .pro and same error. Unknow module. Maybe I had to include something or link the library in some way?
Thank you for helping

[2020-10-10 22:45] Trikos commented on #210
![image](https://user-images.githubusercontent.com/19153649/95666549-ffb5d180-0b5a-11eb-9924-74a401ea75fe.png)
This is the content of the compiled folder

[2020-10-11 08:02] ejvr commented on #210
The problem is probably with the 'deploy' step. I guess you're using QT creator to do this. It appears that the default deploy step does not copy any files to the QT installation directory. I had a custom one in my project, so it worked on my system.

The safest way to 'deploy' the project is to open a command prompt and go to the build directory created by qt-creator (this is the one you showed i

[2020-10-11 16:05] Trikos commented on #210
Im using qt creator. So after these steps I can also use qmqtt in android compilation right?

[2020-10-11 16:35] ejvr commented on #210
For android compilation you need to setup an 'kit' within qt creator to cross compile to android (to do that you probably need the android SDK and the android QT binaries).
If you use win64 it will compile for windows only.

[2020-10-12 00:18] Trikos commented on #210
I tried to move on my directory but using nmake install is not recognized as internal command and I havent Linux installed. I tried to look for nmake.exe into Microsoft VC 2019 but nothing. I look into "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community". I found one here "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.27.29110\bin\Hostx64\x86\nmake.exe"

[2020-10-12 14:49] ejvr commented on #210
My bad. You have to use the 'x64 Native Tools Command Prompt for VS 2019' (or whatever visual studio version you are using). That will create a command shell with the proper settings.
You can find that command prompt in the 'Visual Studio 2019' folder in the start menu.

[2020-10-14 01:02] Trikos commented on #210
Well I did. It compiled. Let me show you what is inside the folder
![image](https://user-images.githubusercontent.com/19153649/95931265-ed40cf80-0dc8-11eb-9388-5f1b7e08edd1.png)
It seems everything ok, so I created a new project, inserted QT += qmqtt, run qmake everything fine, then moved to the main and this happened
![image](https://user-images.githubusercontent.com/19153649/95931224-d7cba580-0d

[2020-10-14 15:09] ejvr commented on #210
The error message 'qmqtt.h' makes sense, because the QtQmqtt directory should include far more files than just QtQmqttDepends. One of them should be `qmqtt.h`. So I guess the `nmake install` command somehow failed.

If you try to build again in the visual studio command prompt and run `nmake install`. On my system I get output like this (this is only part of the output). I guess on your system par

[2020-10-14 22:49] Trikos commented on #210
I tried multiple times but only that one file appear in my folder.
I have some other inside the bin folder.
When compiling I have more strings than before. Can you show me what files would be inside the folders QtQmqtt?
Also is complicated to compile for Android because I will use it on Android instead of Win.
Thank you
![image](https://user-images.githubusercontent.com/19153649/96052842-9c8bae00-

[2020-10-15 08:39] dbsxdbsx opened #211 "Qmqtt can not connect to any ip address"
I've compiled it under vs2017_64 with qt 5.13.2.  But in demo example, I just found it can never establish a connection.

part of my code:
[code]
I just don't know why it cannot establish connection--- Here `doConnected` is never touched

[2020-10-18 11:23] ejvr commented on #211
Your problem is this: `QHostAddress("test.mosquitto.org")`. QHostAddress cannot convert a host name to an IP address. You should pass an IP-address to this constructor. If you want to use a hostname, you should use one of the `QMQTT::Client` constructors that have `QString hostName` as argument.

[2020-10-18 11:40] dbsxdbsx commented on #211
Thanks.

[2020-10-18 11:40] #211 closed

[2020-10-18 11:54] ejvr commented on #210
Judging from your logs it looks like all necessary files have been installed except the headers. I have no idea why, but on your system the `C:\Qt\5.13.2\msvc2017_64\bin\qmake.exe -install qinstall ...` commands that should copy the headers have been skipped.

The files in `c:\Qt\5.15.1\msvc2019_64\include\QtQmqtt` are:
qmqtt.h
qmqtt_client.h
qmqtt_frame.h
qmqtt_global.h
qmqtt_message.h
qmqtt_netw

[2020-10-21 17:56] Trikos commented on #210
I match the logs and something missing I dont know why.
So I tried to follow another path: i imported some headers directly in my project
![image](https://user-images.githubusercontent.com/19153649/96758149-b412eb80-13d6-11eb-838a-4a1b73065fdf.png)
Then I included the library that a friend told me to use inside my **main.cpp** but Im not sure they are sufficient
![image](https://user-images.github

[2020-10-22 07:15] ejvr commented on #210
We have a small example project in the repo: https://github.com/emqx/qmqtt/tree/master/examples/qmqtt/client

I can't find anything wrong with your code except:
* If you intend to publish only, you don't need to subscribe.
* Publishing won't work if you are not connected to the broker yet. It's best to start publishing after the `Client::connected` signal has been fired.
* Nothing will happen if y

[2020-10-23 13:36] Trikos commented on #210
Ok Im checking the example. About your last point I create at the begin this object
QApplication app(argc, argv);
and at the end of my main.cpp
return app.exec();
Is this ok or I have to use QCoreApplication?
I use QCoreApplication::setAttribute(Qt::AA_EnableHighDpiScaling); at the first line of my main and then never again

[2020-10-23 13:56] Trikos commented on #210
I tried the example but on compilation I get these errors:
`F:\QT\SecsyApp\qmqtt\examples\qmqtt\build-client-Desktop_Qt_5_13_2_MSVC2017_32bit-Debug\.moc\debug\moc_qmqtt_router.cpp:66: error: C2491: 'QMQTT::Router::staticMetaObject': definition of dllimport static data member not allowed

F:\QT\SecsyApp\qmqtt\examples\qmqtt\build-client-Desktop_Qt_5_13_2_MSVC2017_32bit-Debug\.moc\debug\moc_qmqtt_ro

[2020-10-23 15:44] ejvr commented on #210
Yes, `QApplication` should work, because the class inherits `QCoreApplication`.

About the dll linkage errors: it seems you are compiling qmqtt itself, not the example. This should work, but apparently it does not on your system. You can work around it by opening example.pro in QT creator, which allows you to compile the example only.

[2020-11-05 01:46] czqinyes opened #212 "Does it support wss?"
Hi, does it support wss(websocket whit TLS 1.3), if so, how to use it.

Thanks.

[2020-11-05 08:49] kenllf opened #213 "The will message doesn't work"
I use the Qt official library : https://codereview.qt-project.org/admin/repos/qt/qtmqtt
And i use mosquitto as server.
I set the will message with the method:
# QMqttClient::setWillMessage()
# QMqttClient::setWillTopic()
When i kill one of the mqtt-client, the other client didn't receive any message.

It's ok when i send other message with #QMqttClient::publish().
And the "will message" function w

[2020-11-05 19:24] ejvr commented on #213
Tried this with mosquitto on debian linux. There are 2 things you want to consider:
1. You should call setWillMessage and setWillTopic before connecting to the server, because the will data will be sent to the server when connecting. Setting it later will have no effect until you reconnect.
2. A clean disconnect (eg. calling Client::close) from the server will not cause the will message to be sent

[2020-11-05 19:28] ejvr commented on #212
QMQTT does support websockets, but it is not included in the default compilation. See the readme for more info.
I'm not sure about TLS 1.3 support. QMQTT uses QWebSocket for all web socket needs (including encryption), so support for TLS depends on what your QT version supports.
You can probably find more about this in the QWebSocket (or QSslSocket) documentation.

[2020-11-06 00:56] czqinyes commented on #212
Thanks for your reply.
I have add 'CONFIG += QMQTT_WEBSOCKETS' when compile in Qt 5.8.
But I don't know how to use websocket whit TLS, could you give me a demo?
Thank you very much!

This example is WS, not WSS.
`QMQTT::Client *client = new QMQTT::Client("ws://www.example.com/mqtt", "<origin>", QWebSocketProtocol::VersionLatest);
client->setClientId("clientId");
client->setUsername("user");
client

[2020-11-06 02:35] kenllf commented on #213
Thanks for your reply.
I have called setWillMessage and setWillTopic before connecting to the server.
I captured mqtt packets with Wireshark and found that there was still disconnect packet sent from client when I closed the program directly, without calling #disconnectFromHost().
That's why there was no "will message" sent from the server.
But I am still confused why there was still disconnect pa

[2020-11-07 13:43] ejvr commented on #213
Hmm, I just tried this with the example project with the repo with `setWillMessage` and `setWillTopic` added. The app run send a number of messages to the broker and does a clean shutdown after that (that is: it call `Client:::disconnectFromHost` and quits the application after the Client::disconnected has been fired). In that case the broker does not publish a will message.

However, if you quit

[2020-11-07 14:54] ejvr commented on #212
Using `wss` should work,. However, since there's no standard port for mqtt over websockets, you probably have to add the portnumber to the url.
For example: `wss://broker.emqx.io:8084/mqtt`.

[2020-11-08 09:05] mwallnoefer commented on #210
Any news here or may we close this?

[2020-11-08 11:31] ejvr commented on #210
I would close the issue. We can always reopen it. It seems to be a problem in a single system.

[2020-11-08 17:20] #210 closed

[2020-11-09 15:13] czqinyes commented on #212
I tried it and found it was ok to use SSL encryption. Next, I compile the OpenSSL-1.1.1 to see if TLS-1.3 was supported.
The problem was due to the lack of SSL DLLS.

[2020-11-13 19:12] kosadev opened #214 "QMQTT::SocketSslHandshakeFailedError on iOS"
Hello, first of all, I need to say that I'm not familiar with MQTT and SSL concepts. I've been trying using QMQTT library on iOS Simulator using Qt 5.13.2, but every time I finished with this error:
QMQTT::SocketSslHandshakeFailedError

I try to connect mosquito test server on port 8883.

To show you the code I've created this repo: https://github.com/kosadev/MQTT-attempt/tree/master/client
Actual

[2020-11-14 07:35] mwallnoefer commented on #214
SSL/TLS problems are never easy to deal with. I don't know the iOS platform very well, but maybe try on a real device to see if it causes differences in the behaviour? Also had you a chance to try on an Android device, just to make sure that the SSL settings are correct?

@ejvr any other ideas?

[2020-11-14 13:15] ejvr commented on #212
Last week I received a message from @czqinyes which indicated that he solved the problem. Not sure why it's not here. Apart from the stuff mentioned above, the problem seemed to be the lack of openssl libraries. The standard QT installer does not install open SSL libraries (at least not on windows), which are necessary for the `QSslSocket` to work.

@mwallnoefer  In short, I think we can close thi

[2020-11-14 13:34] ejvr commented on #214
Tricky question indeed. The error `QMQTT::SocketSslHandshakeFailedError` is a direct translation of `QAbstractSocket::SslHandshakeFailedError`.  If you google that, you can find some info on how to fix this. The probable issues include a version TLS mismatch (eg. client wants TLS 1.3, but server does not support that). Another pitfall is an incorrect date/time. I your code you're explicitly settin

[2020-11-14 16:24] #212 closed

[2020-11-16 03:47] kenllf commented on #213
Thank you very much!
I think the client had somehow called disconnectFromHost.
I will try your suggestion.

[2020-11-16 08:10] mwallnoefer commented on #213
Closing this, please feel free to re-open in case of further clarifications.

[2020-11-16 08:10] #213 closed

[2020-11-19 16:59] kosadev commented on #214
Thanks for your proposals guys. Actually, I've tried various approaches including adding certificate key, protocols etc.. Without them also. I also tried to ask the client to not verify the peer, but also without success.
 The very same code worked on Android, but it didn't on macOS.
I think that it may be somehow related to the topic mentioned in this note: https://doc.qt.io/qt-5/qsslconfiguratio

[2020-11-19 16:59] #214 closed

[2020-11-24 01:08] czqinyes commented on #212
I'm using the latest version of OpenSSL 1.1.1, but it still doesn't connect.
I have two test domains. One will connect, then disconnect, the other never connect.
If possible, I will email the test domain to you for testing.
Please send me an email. Thank you very much

[2020-11-25 08:15] czqinyes opened #215 "wss onNetworkDisconnected"
Let's move on to #212, failure to connect to WSS is the MQTT version issue(mqttClient->setVersion(QMQTT::MQTTVersion::V3_1_1);).
 But a new problem arose, connected, disconnect all the time, unsteadiness.
If possible, I will email the test domain to you for testing.
Please send me an email. Thank you very much

[2020-11-25 16:07] ejvr commented on #215
I don't understand what you mean here. Is using MQTT V3.1.1 causing issues? Are those issues different from using the default version? How often do these disconnects occur? Do you have normal communication when connected? If you have access to the mqtt broker, you could check out the server logs.

To get some more insight into the issue, maybe you can try to use your code with a public mqtt servic

[2020-11-26 01:04] czqinyes commented on #215
This is my open function:
`void MyMQTT::openMQTT(MQTTStruct mqtt)
{
	if (m_mqttClient == NULL)
	{
		qRegisterMetaType<QMQTT::ClientError>("QMQTT::ClientError");
		qRegisterMetaType<QMQTT::Message>("QMQTT::Message");
		qRegisterMetaType<QList<QSslError>>("const QList<QSslError>");

		if (!mqtt.wss)
		{
			m_mqttClient = new QMQTT::Client;
		}
		else
		{
			m_mqttClient = new QMQTT::Client(mqtt.ip,

[2020-11-26 19:49] ejvr commented on #215
The trick is to use the right QMQTT::Client constructor for each connection type.
Also make sure you pass the right arguments. For example when creation a websocket based client, you should pass an URL as the first argument (and not a IP-address). Do not use the setHost and setPort functions.They may work for plain tcp and ssl connection, but probably won't work with websockets. This means that ea

[2020-11-27 00:19] czqinyes commented on #215
I see. My program open once only.
The problem has been solved. It can be closed. Thank you

[2020-12-17 23:10] Saeedsaeb opened #216 "Connecting to URL (HiveMQ)"
Hi , i am quite new to CPP and Qt so sorry if i am basic
i am trying to connect to HiveMQ using TCP on 1883 , with no success
i did get connect to local host but it seems that QHostAddress dose not get Url , and only IP as String , i tried to read the source , couldn't find any constructor for URL in TCP (Websocket is there)

this is a basic code that i thought it would work

   QHostAddress ad =

[2020-12-18 15:54] ejvr commented on #216
I see 2 issues in your code. First one is (as you already stated) that you cannot use a hostname (like `broker.hivemq.com`) to create a QHostAddress object. To use a hostname you need this constructor:
[code]
Since you are using port 1883, you're probably not using SSL, so put the `ssl` and `ignoreSelfSigned` parameters to false.

Second issue is that you should wait for the connection to be estab

[2020-12-18 16:47] eclipseorc opened #217 "when i use protrol ws connnect eqmx,build error like this"
like this:
C:\QtDemo\aiSark\mqtt.cpp:10: error: undefined reference to `_imp___ZN5QMQTT6ClientC1ERK7QStringS3_N18QWebSocketProtocol7VersionEbP7QObject'

source code：
mqtt_client = new QMQTT::Client("ws://mqtt.unbec.com/iot", "<origin>", QWebSocketProtocol::VersionLatest);

[2020-12-18 18:20] Saeedsaeb commented on #216
Thank you so much !! that was amazing , I did look at other constructors and add a button which when i click  , it will publish to HiveMQ , everything works perfectly , Amazing library , thankyou again , here is my code that works

[code]

[2020-12-19 10:45] #216 closed

[2020-12-19 12:11] ejvr commented on #217
It looks like you're compiling your own code with websocket support enabled, but had it disabled when compiling the mqtt library (it's disabled by default).

[2020-12-19 14:06] eclipseorc commented on #217
thank u very much,i complie agin!

[2020-12-19 15:07] eclipseorc commented on #217
thank u again, i'm a new user for qt.
i compilie the mqtt agin like this:
##########################################
TARGET = QtQmqtt
QT = core network websockets
qtHaveModule(websockets): QMQTT_WEBSOCKETS: QT += websockets

DEFINES += QT_NO_CAST_TO_ASCII QT_NO_CAST_FROM_ASCII

# CONFIG += QMQTT_NO_SSL
CONFIG += QMQTT_WEBSOCKETS
################################################

this time i append

[2020-12-19 18:36] mwallnoefer commented on #217
Ok, so we may close this?

[2020-12-20 04:20] #217 closed

[2021-01-11 09:26] w136111526 opened #218 "can't connect server by ip?"
Hello, I&#039;d like to say that localhost and localhost are working on the mosquitto.exe server, and that the local Ip, or any other machine Ip, is not available, and that the server is installed locally from the mosquitto.exe website for use on windows machines. What could be the reason?
![image](https://user-images.githubusercontent.com/29495143/104163879-1279c400-5432-11eb-923c-87e8c66434c7.pn

[2021-01-12 16:15] ejvr commented on #218
I don't understand your problem. Can you tell us what the setup is you are using?
And how is de QMQTT library involved?

[2021-01-13 00:55] w136111526 commented on #218
Thank you. I can't connect to the server because mosquitto.exe The server limits the IP address, which is not caused by qmqtt client.

[2021-01-14 04:24] w136111526 opened #219 "多线程中调用publish消息"
你好，我在多线程中使用
void* TrackerThreadProc(void* param)
{
	while (thiz->m_bThreadTracker) {
		QByteArrayList sendBuf;
		pthread_mutex_lock(&thiz->m_hLock);
		if (!_client->isConnectedToHost()) {
			//change disconnected() to disconnectFromHost()
			usleep(1000);
			continue;
		}
		QString message = "this is a thread messag";
		QMQTT::Message msg(0, "topic", message.toUtf8());
		_client->publish(msg);，

[2021-02-27 22:59] tom-23 opened #220 "Including QMqtt as a submodule using CMake"
Hi there,

I've been using this library for a project I'm developing and I've included it in the following way in my `CMakeLists.txt` file:
[code]

This seems to work fine, but when I try to deploy the project with CPack, I end up with QMqtt being deployed and not my project's application bundle. (I have set up CPack to deploy my application)

Is there any way I could disable CPack generation for

[2021-02-28 19:10] ejvr commented on #220
The problem appears to be that you are including the root level CMakeLists.txt of mqtt (the one with the 'project' directive). This is something you should not do.
I did not write the cmake support in qmqtt, but it looks like it was not intended to be included in another cmake project. Is there a reason you do not deploy qmqtt as a separate bundle? (So just build qmqtt as a standalone, install it

[2021-03-12 19:26] tom-23 commented on #220
Yeah, I just realised, there isn't really a reason since macdeployqt (or windeployqt) copies the library over. No worries (amazing library btw!)

[2021-03-12 19:26] #220 closed

[2021-03-20 11:31] barsnick opened #221 "cmake vs. qmake builds"
Hi,
I have discovered qmqtt as a nice non-GPL alternative to QtMqtt. I have been building it for Fedora distributions in a so-called copr repository for quite some time:
https://copr.fedorainfracloud.org/coprs/barsnick/non-fed/package/qmqtt/

I have been using cmake all along (I guess just because I had noticed the CMakeLists.txt). Yet I never got websocket support to build. Okay, so it turns out

[2021-03-20 19:51] ejvr commented on #221
ok, several questions here. Let's see how far I get answering them
* It should be possible to compile qmqtt with websocket support using cmake. However, patching the .pro file will not do the trick, because the cmake files are independent from the qmake (.pro) files. Instead you can run 'cmake -Dqmqtt_WEBSOCKETS=1' to force support. Keep in mind that if you have a CMakeCache.txt file already, the

[2021-03-20 20:29] barsnick commented on #221
Sorry about that. It really struck out while trying to find my way around (after having had the cmake build around for some time).

Hmm, I'm sure I tried to change OFF => ON, but can't recall. I didn't set ```qmqtt_WEBSOCKETS```, but rather some of the other documented variables. Yes, indeed, I confused cmake and qmake variables. But I think the documentation does not cover it concisely (nor did I

[2021-03-22 08:14] g-ampo opened #222 "Including qmqtt in pre-existing project"
Hello!

I am trying to get QMQTT to work with a pre-existing project (QGroundControl), with little success.

I am using Qt Creator in windows and got the library to build by doing the following:

1) Installed Perl (I got ActivePerl 5.28)
2) Opened Qt creator and directed to the .pro file of QMQTT, which I opened as a distinct project
3) Built the QMQTT project
4) Went to the build directory and mo

[2021-03-22 09:37] ejvr commented on #222
You probably have to install qmqtt first. On the command line that would be 'make install'. To be honest I don't know how to do that in at creator.

-------- Original Message --------
On Mar 22, 2021, 09:14, g-ampo wrote:

[2021-03-22 09:58] g-ampo commented on #222
Thanks for the reply. I can't use 'make install' in windows however... Does that mean I have to switch the entire project to linux?

[2021-03-22 13:31] ejvr commented on #222
No, it must be possible to do this in windows. I'll try to find out this evening.

-------- Original Message --------
On Mar 22, 2021, 10:59, g-ampo wrote:

[2021-03-22 17:57] ejvr commented on #222
In windows you can use nmake instead of make. First you start the visual studio _developer command prompt_, from there you can run `qmake`, `nmake` and `nmake install`

[2021-03-23 08:30] g-ampo commented on #222
Thanks a lot!

[2021-03-23 08:30] #222 closed

[2021-03-23 17:35] #215 closed

[2021-03-23 17:35] #218 closed

[2021-03-23 17:35] #219 closed

[2021-03-23 17:40] mwallnoefer commented on #221
Let's sort out this version discrepancy between qmake and cmake and then yes, I could tag it with 1.0.0.

[2021-03-24 16:05] ejvr commented on #221
@mwallnoefer  Just created a pull request. Both qmake and cmake create binaries with version 1.0.0 now

[2021-03-24 16:16] mwallnoefer commented on #221
https://github.com/emqx/qmqtt/tree/v1.0.0

[2021-04-26 10:01] arilink opened #225 "qmqtt Compilation failed"
Compiler Environment：
1. System window10 x64
2. QT Version :5.15.2
3. Compilation method：qmake
After executing the compilation, the corresponding bin and dll files are not generated
Compilation log

17:55:19: 为项目qmqtt执行步骤 ...
17:55:19: 正在启动 "D:\Qt\Qt5.15.2\5.15.2\mingw81_32\bin\qmake.exe" E:\Mark1\qmqtt-1.0.0\qmqtt.pro -spec win32-g++ "CONFIG+=qtquickcompiler"

Info: creating stash file E:\Mark1\b

[2021-04-26 17:49] ejvr commented on #225
Maybe I'm missing something here, but I can't find any error messages in the build log.

The command below (taken from the build log) should create the Qt5Qmqtt.dll file.
`g++ -shared -Wl,-subsystem,windows -Wl,--out-implib,E:/Mark1/build-qmqtt-Desktop_Qt_5_15_2_MinGW_32_bit-Release/lib/libQt5Qmqtt.a -o ../../lib/Qt5Qmqtt.dll @object_script.Qt5Qmqtt.Release -LC:/openssl/lib -LC:/Utils/my_sql/mysql

[2021-04-27 06:01] arilink commented on #225
Nothing to be done for 'qmake_all'.  Won't this affect？

[2021-04-27 11:57] ejvr commented on #225
Hmm yes, the target `qmake_all` does not create the example and the tests. You could try to use the target `all` instead.

If that fails, please try this (in a bash shell):

1.  Create a new subdirectory in the qmqtt source directory (for example .qmake)
2. Enter that directory
3. Run qmake here, like this `D:\Qt\Qt5.15.2\5.15.2\mingw81_32\bin\qmake.exe ..`. Maybe you need to add the `-spec win32-

[2021-05-02 22:10] benthillerkus opened #226 "Is there some additional documentation beyond the README available?"
Some concrete questions I have:
- ~~What do the `disconnect` functions do? How do they differ from `disconnectFromHost`?~~ `disconnect` and `connect` are inherited from `QObject` and refer to the signals/slot system
- Is `setHostName` just a shortcut for `setHost`?
- ~~How do the `autoReconnect` methods work?~~

Generally from the listed slots and signals on the Readme the library checks all the b

[2021-05-03 15:56] ejvr commented on #226
Q: _Is there some additional documentation beyond the README available?_
A: Nope, but any help is appreciated

Q: _Is setHostName just a shortcut for setHost?_
A: No, there is a small different. The `setHost` function receives a parameter of type `QHostAddress`, which represents an IP address, but cannot represent a host name. The `setHostName` function receives a string which can represent both h

[2021-05-03 16:28] benthillerkus commented on #226
Alright, I'll see if I can write some docs or contribute some examples when I'm done with the project I'm working on 😀

[2021-05-03 17:20] benthillerkus opened #227 "Auto reconnect tries to reconnect even though a connection has been established through `connectToHost()`"
This causes this exception: `QAbstractSocket::connectToHost() called when already looking up or connecting/connected to "192.168.0.5"`.

I'm trying to build a GUI where the user can configure host / port / usernam / password. Upon saving, the new settings will be applied to the `QMQTT::Client`. If the user typed in wrong information, the connection will fail and autoreconnect will try to reestabli

[2021-05-03 18:04] ejvr commented on #227
The easiest way to get this right is to create a new `QMQTT::client` when the user changes the configuration.
This may increase the overhead, but it will not be happen very often, and it will become a necessity when you allow the user to switch between connection type (plain TCP / SSL / Websocket), because only the constructor of `QMQTT::client` will create the right substructure.

A few years ago

[2021-05-29 21:01] jps05 opened #228 "Connect using SSL not working when using setSslConfiguration() separately"
Issue can be reproduced by:

QSslConfiguration sslConfig = QSslConfiguration::defaultConfiguration();
QMQTT::Client *client = new QMQTT::Client();
client->setHostName("example.com");
client->setPort(8883)
client->setSslConfiguration(sslConfig);
client->setClientId("clientId");
client->setUsername("user");
client->setPassword("password");
client->connectToHost();

Returned error: SocketRemoteHostCl

[2021-05-30 13:44] ejvr commented on #228
Yep, that's not going to work. To best way to create an mqtt connection over ssl is to use the constructor which takes a QSslConfiguration object as parameter. The default constructor can be used only to create a non-encrypted TCP connection.

[2021-09-11 15:59] halfgaar opened #230 "QMQTT::Network::isConnectedToHost() is true when SSL is still negotiating"
`QMQTT::Network::isConnectedToHost()` is true when SSL is still negotiating. If the client app determines actions based on that, it starts sending publish packets before the connect packet.

[2021-09-12 06:58] ejvr commented on #230
Yep, looks like you're right. I guess we should check if `_connectionState == ConnectionState::STATE_CONNECTED` in `ClientPrivate::isConnectedToHost`.
That way, the isConnectedToHost is in sync with the 'connected' signal, which is what most developer use (I hope).

[2021-09-12 10:53] halfgaar commented on #230
I've observed this behavior for a while in my [MqttLoadSimulator](https://github.com/halfgaar/MqttLoadSimulator) and another tool I use for debugging. It goes a bit deeper even.

My MQTT server reports publish packets before the first connect packet when clients lose their connection and reconnect. In other words, `Client::publish()` queues frames right after the SSL handshake, before it's allowed

[2021-09-12 11:13] ejvr commented on #230
That's why I proposed to check the `_connectionState`, it will be set to `STATE_CONNECTED` only if the connection acknowledgement from the broker has been received (at the same time the `Client::connected` signal is emitted). It seems to me that . I still think this would fix the issue. Maybe you can try that?

Of course, keeping a boolean using the connected and disconnected signal should also do

[2021-11-16 06:42] #226 closed

[2021-12-03 08:01] shane97luo opened #233 "connet server with uri"
Hey, guys !  I met a problem.

It works well when I use paho mqtt

[code]

but when I try to use qmqtt replace paho, it comes wrong. I would like to know that whether qmqtt support the uri param

thanks for anwsering ! ! !

[2022-01-10 03:15] JXT-Eden opened #234 "complie 64-bit"
os: win10
qt: 5.10.0
compiler : vs2015

how to complie 64bit
![微信截图_20220110111411](https://user-images.githubusercontent.com/9624017/148714444-b59f380f-cd2f-4e8a-9479-1421b26ac920.png)

[2022-01-10 03:42] JXT-Eden commented on #234
ok

[2022-01-10 03:42] #234 closed

[2022-02-08 08:28] Gappa88 commented on #210
Hi @mwallnoefer

I have the same problem. I can compile running:
[code]
but in the `C:\Qt\6.2.3\mingw_64\include\QtQmqtt` I find only the `QtQmqttDepends` file and my Qt project cannot find "qmqtt.h" header.

Also, running `make all` it fails in compiling the examples because It couldn't find the `qmqtt.h` file.

SO: Windows10
Qt: 6.2.3
qmake: 3.1
mingw32-make: 4.2.1

How can I solve the problem?

[2022-02-08 09:04] #221 closed

[2022-02-08 09:05] mwallnoefer commented on #225
Closing it for now.

[2022-02-08 09:05] #225 closed

[2022-02-08 09:05] #227 closed

[2022-02-08 09:05] #228 closed

[2022-02-08 09:06] mwallnoefer commented on #230
Any news here?

[2022-02-08 09:14] mwallnoefer commented on #233
Sorry, I have missed your issue: we only support the connection syntaxes listed here: https://github.com/emqx/qmqtt/blob/v1.0.0/README.md. So the URI _"tcp://mqtt.****.com:1883"_ won't work against qmqtt.

[2022-02-08 09:14] #233 closed

[2022-02-08 09:22] mwallnoefer commented on #210
Please consider issue #221 (in detail ejvr's answer: https://github.com/emqx/qmqtt/issues/221#issuecomment-803454316). If it doesn't help let us continue the discussion there.

[2022-02-08 11:27] Gappa88 commented on #210
thanks @mwallnoefer for the answer.

I copied all the header files @ejvr pointed out [here](https://github.com/emqx/qmqtt/issues/210#issuecomment-711156865) (just few comments above) and now I can compile, run, connect and push to a mosquitto broker successfully.

Now I have to repeat the procedure on another computer...

Is there something that I can change in the Cmakefile or somewhere else in o

[2022-02-09 08:00] halfgaar commented on #230
I'm unsure who is waiting for whom :).

I can test quick code fixes as suggested by @ejvr , but the last paragraph:

talks a bit more about the architecture of QMQTT that I'm not authoritative on.

[2022-02-12 15:56] mwallnoefer commented on #210
I guess if @ejvr does not answer we cannot do much about it. Please consider `qmqtt` as semi-abandonware: it isn't developed any further, we just accept bug-fixes but no new features.

[2022-02-13 13:54] ejvr commented on #230
Yeah, we got deadlocked here I guess. There was no response to my final comment, so I assumed nobody was interested in my fix. Anyway, there's now a pull request (#235) for this issue.

About my remark:

It's a bit cryptic. What I mean is this: the Client::publish function does not do any checks on the internal connection state. It just sends a PUBLISH frame to the broker (there is a check on the

[2022-02-14 07:42] #230 closed

[2022-02-14 17:24] ejvr commented on #210
I don't have a lot info to add here. Normally, I would check the output of the `make install` to find out if `qmqtt.h` was copied and to which location.

[2022-02-18 13:59] dan8551 opened #238 "Build fails on linux and MacOS with Qt6.2.3"
When building on Linux (Ubuntu) and macOS the build fails.

Linux compiling with "Desktop Qt 6.2.3 GCC 64bit"
macOS compiling with "Qt 6.2.3 for macOS"

The build compiles correctly on:
- iOS: Qt 6.2.3 for iOS
- iOS Simulator: Qt 6.2.3 for macOS

Compiler output from Linux:
`13:51:58: Running steps for project qmqtt...
13:51:58: Starting: "/home/dan/Qt/6.2.3/gcc_64/bin/qmake" /home/dan/Documents/q

[2022-02-18 18:17] mwallnoefer commented on #238
Please try the changes made my @alex-spataru raised in PR #231. Unfortunately we weren't able to include them successfully since they are breaking the Qt5-based build.

We remind you that _qmqtt_ is basically out of development/support, so we are only accepting essential bug fixes but no new features.

@ejvr Do you have any other suggestion?

[2022-02-18 18:30] mwallnoefer commented on #167
@emqplus I guess that the right-hand **About** section on https://github.com/emqx/qmqtt should mention the fact that _qmqtt_ has become EOL. There is still people which continues to open new issues not understanding that the project has come to an end.

[2022-02-19 10:00] dan8551 commented on #238
Tried PR #231 with the same issues as above.

[2022-02-20 13:38] ejvr commented on #238
Tricky question, the error messages are quite hard to read. It seems that the 'slots' pseudo keyword some of the headers is not recognized. For now, I would advice to use cmake instead of qmake when using QT 6. This seems to be the default these days.

[2022-02-20 14:04] ejvr commented on #238
I did some simple analysis: the QMQTT master branch compiles using QT6.2.3 and qmake. At least, on my setup.

@dan8551 your build log contains some weird errors, like this one:

[code]
For some reason the compiler tries to compile a header file. I don't see why (maybe precompiled headers???). Also, there are a few strange defines passed to the compiler, especially `-Dsignals=int -Dslots=int -Demit

[2022-02-21 10:36] dan8551 commented on #238
@ejvr the build is trying to compile completely from stock with no changes to your code or the compiler. Can I ask what your build environment is? The macOS environment is running on a M1 processor. No changes were made to either the compiler or the source.

[2022-02-21 17:26] ejvr commented on #238
I compiled on debian linux (version 11) with QT 6.2.3 (64 bits), and gcc 10.2.1.

Right now, I don't have access to Apple hardware, so I have no clue on how the debug this. Could you try to run a build from a command prompt and use qmake + make without any command line options?

[2022-03-04 15:00] JackHack96 opened #239 "Compilation error on OpenWRT"
Hello! I'm porting QMQTT to OpenWRT as I have a project that uses it.
OpenWRT uses makefiles to build packages and so I've wrote one for this project that I report here.
[code]
The problem is that the QMQTT build fails with the following error:
[code]

I've watched the generated `moc_qmqtt_ssl_socket_p.cpp` and indeed there's that `QMQTT::SslSocket::qt_static_metacall` which doesn't exist in the h

[2022-03-05 10:02] mwallnoefer commented on #239
Hi Matteo,

the build seems to be failing already very early (at the stage of 15%) and the MOC code seems to be generated with some new strategy, which probably hadn't been tested against _qmqtt_ yet (message _Automatic MOC for target qmqtt_). Furthermore I don't notice any compiled source file at all.

Let's try with the following advice: No chance that you are able to test a CMake-build against

[2022-03-05 15:11] ejvr commented on #239
For some reason, the moc utility created a moc file (`moc_qmqtt_ssl_socket_p.cpp`) needed only for SSL enabled build. The errors produced by the compiler on this file suggest that SSL is not enabled (the QT_NO_SSL define is set when building without SSL, and will hide the definition of `QMQTT::SslSocket`).

This is a bit strange, and could be caused by a problem with cmake.

The fact that `QMQTT::

[2022-03-05 20:22] JackHack96 commented on #239
Hi @mwallnoefer and @ejvr, I can confirm that I don't want a non-SSL build as I have a software that uses MQTT with SSL.

So I tested the CMake build on two x86 machines with Qt 5.15.2 and it works just fine (I didn't set any build option).
On the OpenWRT cross-compile environment, which by the way targets a MIPS architecture, I have Qt 5.12, but it should be ok for QMQTT, and I didn't specify `QT

[2022-04-05 11:57] JuniorSuperTux commented on #238
I have the same setup as yours, but the same problem like @dan8551

[2022-04-06 16:33] ejvr commented on #238
@JuniorSuperTux Do you also see this in the build output: `-Dsignals=int -Dslots=int -Demit=public:`. If so, there's a serious problem with the setup. No QT application will compile with those settings.

Regarding my earlier comments in this issue: did you try to use cmake? Alternatively, did you try to run the build with just `qmake` and `make` (so no extra options)?

[2022-04-10 14:40] ejvr commented on #238
The issue seems to be related to the makefile generated by qmake: it enables a feature where use of the `signals` and `slots` macros cause a compiler error. Instead those macros you should use `QT_SIGNALS` and `QT_SLOTS`. This is done to avoid problems with signal/slot patterns defined by other libraries such as boost.

I've create a pull request do fixes this. It also a warning about using `0` as

[2022-05-09 20:37] esleybonomo opened #241 "Last will not works"
Hello,

I'll try to use last will but I can't.

[code]

What I'm doing wrong? Or is there a bug about it?

[2022-05-11 08:24] huseyinkozan opened #242 "Using pri file"
Hi,
I created a console app and tried to include pri file like;
[code]

But I got below errors. How can I use pri file ?

[code]

[qmqtt-test.zip](https://github.com/emqx/qmqtt/files/8668028/qmqtt-test.zip)

[2022-05-11 08:29] huseyinkozan commented on #242
Note; I have added some destructors to suppress warnings/errors

[2022-05-12 17:14] mwallnoefer commented on #241
Is this really our library, since our interface for last will messages looks a bit different (https://github.com/emqx/qmqtt/blob/master/src/mqtt/qmqtt_client.h):

[code]

[2022-05-12 17:15] mwallnoefer commented on #242
@ejvr any idea? Could it be that moc isn't run on the websocket's code?

[2022-05-12 17:16] #239 closed

[2022-05-16 17:45] ejvr commented on #242
Yep, looks like you're right. It appears that the websocket headers are not passed to qmake.

@huseyinkozan In the file `qmqtt.pri` in the root of the repo, can you change `PRIVATE_HEADERS` to `HEADERS` (line 55). That would force the moc to process the websocker headers.

[2022-05-23 09:40] mwallnoefer commented on #242
@ejvr But usually this should be working, so we shall not modify our  `qmqtt.pri` file? I am just asking if we should close the bug or deliver this change.

[2022-05-23 09:41] #241 closed

[2022-05-23 17:36] ejvr commented on #242
That's the plan, I hope I can find some time thing week to create a pull request.

Got to recreate my build env first...

[2022-05-27 13:31] #242 closed

[2022-07-01 02:45] VijayGawade opened #244 "MQTT connection disconnected after connected successfully over secure port 8883 with tls self-signed certificate"
Hi All

I am using Qt 5.9 with [QMQTT-Emqx](https://github.com/emqx/qmqtt) MQTT library for MQTT communication.

Currently, we have locally installed a mosquitto broker and configured it to use an SSL certificate with the client certificate required on Port 8883.

In our app, we connected to the broker with CA & Client certificate with the following code

[code]

Also I checked SSL library details

[2022-07-01 02:48] VijayGawade opened #245 "MQTT connection disconnected after connected successfully"
I am using Qt 5.9 with [QMQTT-Emqx](https://github.com/emqx/qmqtt) MQTT library for MQTT communication.

Currently, we have locally installed a mosquitto broker and configured it to use an SSL certificate with the client certificate required on Port 8883.

In our app, we connected to the broker with CA & Client certificate with the following code

[code]
Also I checked SSL library details as follo

[2022-07-01 03:04] #245 closed

[2022-08-01 16:16] mwallnoefer commented on #244
Sorry, I have overseen this issue. TLS is always a complicated topic, so I forward it to our experts.

@KonstantinRitt @ejvr any thoughts?

[2022-08-02 10:45] KonstantinRitt commented on #244
It is hard to guess what goes wrong there without knowledge of what's actually set to ssl config.
First of all, try connecting to your broker with any other MQTT client.
If that works, connect to QSslSocket's `encrypted`, `encryptedBytesWritten`, `peerVerifyError` and `sslErrors` signals (somewhere at src/mqtt/qmqtt_ssl_socket.cpp#L48) and set breakpoints there (or put a meaningful debug message i

[2022-10-29 13:54] #244 closed